{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>LOCAPRO 6</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="icon" type="image/png" href="{% static '/flavicon/flavicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesome5/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'locapro/css/Locapro.css' %}">
</head>
<body class="loginBody">
<div>
    {#        login form  #}
    <div class="w3-display-middle login_form w3-card">
        <div class="w3-panel w3-center">
            <h3 class="w3-text-teal"><i class="fas fa-coffee w3-margin-right"></i>LOCAPRO 6</h3>
            <form method="post" class="w3-panel" style="width: 350px">
                {% csrf_token %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="w3-panel w3-red w3-display-container">
                 <span onclick="this.parentElement.style.display='none'"
                       class="w3-button w3-red w3-large w3-display-topright">&times;</span>
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <label class="l-text-color-1 w3-left" for="username"><i class="fas fa-user"></i> Utilisateur</label>
                <input class="w3-input " type="text" name="username" required autofocus>
                <label class="l-text-color-1 w3-left" for="password"><i class="fas fa-key"></i> Mot de passe</label>
                <input class="w3-input" type="password" name="password" required>
                <input type="hidden" name="next" value="/"/>
                <div style="padding-top: 20px; padding-bottom: 20px">
                    <button class="w3-button w3-block" style="background-color: teal; color: white">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
