{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal de comptage  N°{{ header.id }}</title>
    <link rel="stylesheet" href="{% static 'locapro/css/Documents_print.css' %}">
</head>
<body>
<style>
    body {
    width: 29.5cm;
}
</style>
<div id="content">
    <h1 align="center">Journal de comptage  N°: {{ header.id }}</h1>
    <table>
        <tr>
            <th>N°</th>
            <th>Date Comptage</th>
            <th>Réf Inventaire</th>
            <th>Magasin</th>
            <th>Statut</th>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr align="center">
            <td>{{ header.id }} </td>
            <td>{{ header.counting_date }} </td>
            <td>  Inv 31/12/2018 </td>
            <td>{{ header.store }} </td>
            <td>{{ header.document_status }}</td>
            <td>{{ header.created_by }}</td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>

    <table>
        <th>Code</th>
        <th>Produit</th>
        <th>N° Lot</th>
        <th>DDP</th>
        <th>PU Ach.Net</th>
        <th>PU Vente</th>
        <th>TVA</th>
        <th>SHP</th>
        <th>PPA HT</th>
        <th>Empl</th>
        <th>Colisage</th>
        <th>NBR Colis</th>
        <th>Vrac</th>
        <th>Qtt Totale</th>
        {% for item in details %}
            <tr>
                <td>{{ item.batch.product.code }}</td>
                <td>{{ item.batch.product.product }}</td>
                <td>{{ item.batch.batch_number }}</td>
                <td>{{ item.batch.expiration_date }}</td>
                <td align="right">{{ item.batch.purchase_pu_ht_net }}</td>
                <td align="right">{{ item.batch.selling_pu_ht }}</td>
                <td align="right">{{ item.batch.tva }}</td>
                <td align="right">{{ item.batch.shp }}</td>
                <td align="right">{{ item.batch.ppa_ht }}</td>
                <td>{{ item.emplacement.emplacement }}</td>
                <td align="right">{{ item.batch.packaging }}</td>
                <td align="right">{{ item.number_of_packages }}</td>
                <td align="right">{{ item.number_of_units }}</td>
                <td align="right">{{ item.quantity }}</td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>

    <footer>
        <div align="right" style="padding-right: 70px">Signature Chef Service <br>Stock</div>
    </footer>
</div>
</body>
</html>