{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mouvement Stock N°{{ header.id }} </title>
    <link rel="stylesheet" href="{% static 'locapro/css/Documents_print.css' %}">
</head>
<body>
<div id="content">
    <table>
        <td><h1 align="center">{{ header.flew_type }} N°: {{ header.id }}</h1></td>
        <td class="code_barre" align="center">*{{ header.id }}*</td>
    </table>
    <br>
    <table>
        <tr>
            <th>Depuis Magasin</th>
            <th>Vers Magasin</th>
            <th>Statut</th>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
        </tr>
        <tr align="center">
            <td>{{ header.from_store }} </td>
            <td>{{ header.to_store }} </td>
            <td>{{ header.document_status }}</td>
            <td>{{ header.created_by }}</td>
            <td>{{ header.created_date }} </td>
        </tr>
    </table>
    <br>
    <br>
    {% if header.flew_type_id == 1 or header.flew_type_id == 2 or header.flew_type_id == 3 or header.flew_type_id == 5 %}
        <table>
            <th>Produit</th>
            <th>N° Lot</th>
            <th>DDP</th>
            <th>PPA HT</th>
            <th>Depuis Empl</th>
            <th>Vers Empl</th>
            <th>Colisage</th>
            <th>NBR Colis</th>
            <th>Vrac</th>
            <th>Total Qtt</th>
            <th>Statut</th>
            {% for item in details %}
                <tr>
                    <td>{{ item.batch.product.product }}</td>
                    <td>{{ item.batch.batch_number }}</td>
                    <td>{{ item.batch.expiration_date |date:"m / Y" }}</td>
                    <td align="right">{{ item.batch.ppa_ht }}</td>
                    <td>{{ item.from_emplacement.emplacement }}</td>
                    <td>{{ item.to_emplacement.emplacement }}</td>
                    <td align="right">{{ item.batch.packaging|default_if_none:"0" }}</td>
                    <td align="right">{{ item.number_of_packages |default_if_none:"0" }}</td>
                    <td align="right">{{ item.number_of_units|default_if_none:"0" }}</td>
                    <td align="right">{{ item.quantity|default_if_none:"0" }}</td>
                    <td>{{ item.from_status.designation }}</td>


                </tr>
            {% endfor %}

        </table>
    {% endif %}
    {% if header.flew_type_id == 4 %}
        <table>
            <th>Produit</th>
            <th>N° Lot</th>
            <th>DDP</th>
            <th>PPA HT</th>
            <th>Emplacement</th>
            <th>Depuis Status</th>
            <th>Vers Status</th>
            <th>Colisage</th>
            <th>NBR Colis</th>
            <th>Vrac</th>
            <th>Total Qtt</th>
            {% for item in details %}
                <tr>
                    <td>{{ item.batch.product.product }}</td>
                    <td>{{ item.batch.batch_number }}</td>
                    <td>{{ item.batch.expiration_date |date:"m / Y" }}</td>
                    <td align="right">{{ item.batch.ppa_ht }}</td>
                    <td>{{ item.from_emplacement.emplacement }}</td>
                    <td>{{ item.from_status.designation }}</td>
                    <td>{{ item.to_status.designation }}</td>
                    <td align="right">{{ item.batch.packaging|default_if_none:"0" }}</td>
                    <td align="right">{{ item.number_of_packages |default_if_none:"0" }}</td>
                    <td align="right">{{ item.number_of_units|default_if_none:"0" }}</td>
                    <td align="right">{{ item.quantity|default_if_none:"0" }}</td>


                </tr>
            {% endfor %}

        </table>
    {% endif %}
    <br>
    <br>
    <br>

    <footer>
        <table>
            <tr>
                <td style="width:25%">Exécuté par :</td>
                <td style="width:25%">1.</td>
                <td style="width:25%">2.</td>
                <td style="width:25%">3.</td>
            </tr>
            <tr>
                <td style="width:25%">Signature :</td>
                <td style="width:25%"></td>
                <td style="width:25%"></td>
                <td style="width:25%; height: 40px"></td>
            </tr>
        </table>

    </footer>
</div>
</body>
</html>