<div id="page_{{ uuid }}" class="master_page"></div>
<script type="text/javascript">
    let uuid = '{{ uuid }}';
    let page = document.getElementById('page_{{ uuid }}');
    page.url = '/common/company_profile_admin/';
    //page.style.height = '100%';
    page.csrf_token = '{{ csrf_token }}';
    page.uuid = uuid;
    BuildPage(page);

</script>