<div id="page_{{ uuid }}" class="master_page"></div>
<div id="details_bar_{{ uuid }}" class="w3-bar bottom-bar details_area w3-border">
    <div class="w3-bar-item">Détails</div>
    <div id='show_details_button_{{ uuid }}' class="w3-bar-item w3-button" title="Détails des bons"><i
            class="fas fa-list"></i></div>
    <div id='show_documents_button_{{ uuid }}' class="w3-bar-item w3-button"><i class="fas fa-file-alt"></i></div>
    <div id='hide_details_area_{{ uuid }}' class="w3-bar-item w3-button w3-right"><i class="fas fa-arrow-down"></i>
    </div>
</div>
<div id="details_area_{{ uuid }}" class="details_area">
</div>


<script type="text/javascript">
    let uuid = '{{ uuid }}';
    let details_bar = document.getElementById('details_bar_{{ uuid }}');
    let documents_button = document.getElementById('show_documents_button_{{ uuid }}');
    let details_button = document.getElementById('show_details_button_{{ uuid }}');
    let hide_details_area_button = document.getElementById('hide_details_area_{{ uuid }}');
    let page = document.getElementById('page_{{ uuid }}');
    let details_area = document.getElementById('details_area_{{ uuid }}');
    page.url = '/common/employee_admin/';
    page.style.height = page.parentNode.offsetHeight - (details_bar.offsetHeight / 2) + 'px';
    page.csrf_token = '{{ csrf_token }}';
    page.uuid = uuid;
    page.extra_actions = {
        'id': 'print_button_' + uuid,
        'text': '',
        'icon_class': 'fas fa-print',
        'tooltip': 'Imprimer',
        'events': [
            {
                'click': function () {
                }
            }]
    };
    BuildPage(page);

    details_button.onclick = function () {
        show_details_area('50%');
        page.details_page = document.createElement('DIV');
        details_area.appendChild(page.details_page);
        page.details_page.uuid = generateUUID();
        page.details_page.id = 'page_' + page.details_page.uuid;
        page.details_page.url = '/common/get_batchs/';
        page.details_page.csrf_token = '{{ csrf_token }}';
        BuildPage(page.details_page);
        page.details_page.main_table.classList.add('details-data-table');
        page.details_page.resizeHigh('100%');
    };
    documents_button.onclick = function () {
        let new_page = document.createElement('DIV');
        show_details_area('50%');
        details_area.appendChild(new_page);
        new_page.uuid = generateUUID();
        new_page.id = 'page_' + new_page.uuid;
        new_page.url = '/common/archived_document_admin/';
        new_page.csrf_token = '{{ csrf_token }}';
        BuildPage(new_page);
        new_page.main_table.classList.add('details-data-table');
        new_page.resizeHigh('100%');
    };

    function show_details_area(_height) {
        while (details_area.firstChild) {
            details_area.removeChild(details_area.firstChild)
        }
        page.resizeHigh(_height);
        details_area.style.height = (details_area.parentNode.offsetHeight / 2) - details_bar.offsetHeight + 'px';

    }

    function hide_details_area() {
        while (details_area.firstChild) {
            details_area.removeChild(details_area.firstChild)
        }
        page.resizeHigh(page.parentNode.offsetHeight - (details_bar.offsetHeight / 2) + 'px');
        details_area.style.height = '0px';
    }

    hide_details_area_button.onclick = function () {
        hide_details_area()
    };
    page.main_table.addEventListener('click', function (ev) {
        if (ev.target.nodeName === 'TD' || ev.target.nodeName === 'TR') {
            page.details_page.main_table.fixed_filter = JSON.stringify(
                {
                    id: page.main_table.selectedPk,
                });
            page.details_page.main_table.refresh()
        }
    });

</script>