<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="main_buttons_{{ uuid }}"></div>
<div id="discount_dialog_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span class="w3-bar-item">Ajouter une remise global</span>
        </div>
        <div id="discount_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<div id="main_form_{{ uuid }}" style="width: 350px"></div>
<div class="totals_area">
    <table>
        <th>Total HT brut</th>
        <th>Remise</th>
        <th>Total HT Remisé</th>
        <th>TVA</th>
        <th>Total TTC</th>
        <tr>
            <td align="center" id="total_pu_ht_{{ uuid }}"></td>
            <td align="center" id="total_discount_value_{{ uuid }}"></td>
            <td align="center" id="total_pu_ht_net_{{ uuid }}"></td>
            <td align="center" id="total_tva_{{ uuid }}"></td>
            <td align="center" id="total_pu_ttc_{{ uuid }}"></td>
        </tr>

    </table>
</div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="totals_area_{{ uuid }}" class="w3-hide"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="vouchers_table_{{ uuid }}"></div>
<div id="dialog_add_line_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span id="dialog_add_line_title_{{ uuid }}" class="w3-bar-item">Ajouter des articles</span>
        </div>
        <div id="add_new_record_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<div id="dialog_edit_line_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span class="w3-bar-item">Modifier la ligne</span>
        </div>
        <div id="edit_record_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<script type="text/javascript">

    var uuid = '{{ uuid }}';

    // Main form Action buttons
    var main_buttons_container = document.getElementById('main_buttons_' + uuid);
    main_buttons_container.settings = [
        {
            'id': 'create_header_button_' + uuid,
            'text': 'Créer',
            'icon_class': 'fa fa-plus',
            'tooltip': 'Créer l\'entête du document',
            'events': [{
                'click': function () {
                    function callback() {
                        document.getElementById('add_lines_button_' + uuid).click();
                        main_form_container.disable();
                        add_new_record_form.clear();
                        edit_record_form.clear();
                    }

                    document.getElementById('main_form_' + uuid).post_data(callback)


                }
            }]
        },
        {
            'id': 'save_button_' + uuid,
            'text': 'Enregistrer',
            'icon_class': 'fa fa-save',
            'tooltip': 'Enregistrer le document con cours',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_form_container.clear();
                            var operating_date = document.getElementById('operating_date_' + uuid);
                            operating_date.valueAsDate = new Date();
                            main_table.refresh();
                            add_new_record_form.clear();
                            edit_record_form.clear();
                            add_new_record_form.disable();
                            edit_record_form.disable();
                            update_totals()
                        }

                        commit('{{ uuid }}', '/immobilisations/articles_acquisition_transactions/',
                            main_table, '{{ csrf_token }}', callback)
                    }
                }]
        },
        {
            'id': 'cancel_button_' + uuid,
            'text': 'Annuler',
            'icon_class': 'fa fa-trash',
            'tooltip': 'Annuler le document con cours',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_form_container.clear();
                            var operating_date = document.getElementById('operating_date_' + uuid);
                            operating_date.valueAsDate = new Date();
                            add_new_record_form.disable();
                            add_new_record_form.clear();
                            edit_record_form.clear();
                            add_new_record_form.disable();
                            edit_record_form.disable();
                            main_table.refresh();
                            update_totals()
                        }

                        cancel('{{ uuid }}', '/immobilisations/articles_acquisition_transactions/',
                            main_table, '{{ csrf_token }}', callback)
                    }
                }]
        }
    ];
    BuildActionButtons(main_buttons_container);

    // Discount form
    var discount_form = document.getElementById('discount_form_' + uuid);
    discount_form.uuid = uuid;
    discount_form.parent_id = uuid;
    discount_form.settings = {
        'url': '/immobilisations/articles_acquisition_transactions/',
        'action': 'apply_global_discount',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'global_discount_{{ uuid }}',
                'name': "global_discount",
                'text': 'Remise globale',
                'type': 'text',
                'url': null,
                'tooltip': 'Dispatcher une remise sur tout les lignes du documents de réception en cours',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        main_form_container.focusNextInput(e)
                    }
                }]
            },
        ],
        'buttons': [
            {
                'id': 'close_button2_{{ uuid }}',
                'text': 'Fermer',
                'icon_class': '',
                'tooltip': 'Fermer le dialogue',
                'events': [
                    {
                        'click': function () {
                            closeDialog(discount_dialog)
                        }
                    }]
            },
            {
                'id': 'add_discount_button_{{ uuid }}',
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer la remise saisie',
                'events': [
                    {
                        'click': function () {
                            function callback() {
                                discount_form.clear();
                                main_table.refresh()
                                update_totals()
                            }

                            discount_form.post_data(callback);
                        }
                    }]
            }
        ]
    };
    BuildForm(discount_form);


    var discount_dialog = document.getElementById('discount_dialog_' + uuid);

    // Main form (Document's header)
    var main_form_container = document.getElementById('main_form_' + uuid);
    main_form_container.settings = {
        'url': '/immobilisations/articles_acquisition_transactions/',
        'action': 'create_parent',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'invoice_id_{{ uuid }}',
                'name': "invoice_id",
                'text': 'Facture d\'achat',
                'type': 'autocomplete',
                'url': '/immobilisations/list_of_invoices_combo/',
                'tooltip': 'Choisissez la facture d\'achat pour cette réception',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        main_form_container.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'operating_date_{{ uuid }}',
                'name': "operating_date",
                'text': 'Date de réception',
                'type': 'date',
                'url': null,
                'tooltip': 'La date de la réception. Exemple :25/07/2018',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        main_form_container.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'observation_{{uuid}}',
                'name': "observation",
                'text': 'Observation',
                'type': 'text',
                'url': null,
                'tooltip': 'Réferences ou observations sur la réception',
                'required': false,
                'events': [
                    {
                        'keyup': function (e) {
                            function callback() {
                                document.getElementById('create_header_button_' + uuid).click()
                            }

                            main_form_container.focusNextInput(e, callback)
                        }
                    }]
            },

        ],
        'buttons': null
    };
    main_form_container.uuid = uuid;
    main_form_container.parent_id = uuid;
    BuildForm(main_form_container);
    var operating_date = document.getElementById('operating_date_' + uuid);
    operating_date.valueAsDate = new Date();

    //Dialogs
    var add_lines_dialog = document.getElementById('dialog_add_line_' + uuid);
    var edit_line_dialog = document.getElementById('dialog_edit_line_' + uuid);


    // Add new line form
    var add_new_record_form = document.getElementById('add_new_record_form_' + uuid);
    add_new_record_form.settings = {
        'url': '/immobilisations/articles_acquisition_transactions/',
        'action': 'add_line',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'article_id_{{ uuid }}',
                'name': 'article_id',
                'text': 'Article',
                'type': 'autocomplete',
                'url': '/immobilisations/list_of_articles/',
                'tooltip': 'Choisissez l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'type_{{ uuid }}',
                'name': 'type',
                'text': 'Type',
                'type': 'text',
                'url': null,
                'tooltip': 'Le type de l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            }, {
                'id': 'marque_{{ uuid }}',
                'name': 'marque',
                'text': 'Marque',
                'type': 'text',
                'url': null,
                'tooltip': 'La marque de l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'code_barre_id_{{ uuid }}',
                'name': 'code_barre_id',
                'text': 'Code Barre',
                'type': 'text',
                'url': null,
                'tooltip': 'Code barre interne du produit',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'serial_number_{{ uuid }}',
                'name': 'serial_number',
                'text': 'Numéro de série',
                'type': 'text',
                'url': null,
                'tooltip': 'Numéro de série de l\'article',
                'required': false,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'pu_ht_{{ uuid }}',
                'name': 'pu_ht',
                'text': 'PU achat Brut',
                'type': 'text',
                'url': null,
                'tooltip': 'Prix d\'achat unitaire hors taxes',
                'required': true,
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatMoney(this.value);
                        }
                    },
                    {
                        'keyup': function (e) {
                            add_new_record_form.focusNextInput(e);
                        }
                    }]
            },
            {
                'id': 'unit_discount_perc_{{ uuid }}',
                'name': 'unit_discount_perc',
                'text': 'Remise (%)',
                'type': 'decimal',
                'url': null,
                'tooltip': 'Taux de remise sur article',
                'required': true,
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatNumber(this.value);
                        }
                    },
                    {
                        'keyup': function (e) {
                            add_new_record_form.focusNextInput(e);
                        }
                    }]
            },
            {
                'id': 'tva_id_{{ uuid }}',
                'name': 'tva_id',
                'text': 'Taux TVA (%)',
                'type': 'autocomplete',
                'url': '/common/list_of_tva_rates/',
                'tooltip': 'Le taux de tva',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'affected_to_employee_id_{{ uuid }}',
                'name': 'affected_to_employee_id',
                'text': 'Affectation Employé',
                'type': 'autocomplete',
                'url': '/common/list_of_employees/',
                'tooltip': 'L\'employé bénificiaire',
                'required': false,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'mgx_emplacement_id_{{ uuid }}',
                'name': 'mgx_emplacement_id',
                'text': 'Emplacement',
                'type': 'autocomplete',
                'url': '/immobilisations/list_of_mgx_emplacements/',
                'tooltip': 'L\'emplacement de l\'article',
                'required': false,
                'events': [{
                    'keyup': function (e) {
                        function callback() {
                            document.getElementById('add_button_' + uuid).click()
                        }

                        add_new_record_form.focusNextInput(e, callback);
                    }
                }]
            }],
        'buttons':
            [
                {
                    'id': 'close_button_{{ uuid }}',
                    'text': 'Fermer',
                    'icon_class': '',
                    'tooltip': 'Fermer le dialogue',
                    'events': [
                        {
                            'click': function () {
                                document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                            }
                        }]
                },
                {
                    'id': 'add_button_{{ uuid }}',
                    'text': 'Ajouter',
                    'icon_class': '',
                    'tooltip': 'Enregistrer les informations saisies',
                    'events': [
                        {
                            'click': function () {
                                function callback() {
                                    add_new_record_form.clear();
                                    main_table.refresh()
                                    update_totals()
                                }

                                add_new_record_form.post_data(callback);
                            }
                        }]
                }
            ]
    }
    ;
    add_new_record_form.uuid = uuid;
    BuildForm(add_new_record_form);
    add_new_record_form.disable();

    // Edit new line form
    var edit_record_form = document.getElementById('edit_record_form_' + uuid);
    edit_record_form.settings = {
        'url': '/immobilisations/articles_acquisition_transactions/',
        'action': 'edit_line',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'article_id_edit_{{ uuid }}',
                'name': 'article_id',
                'text': 'Article',
                'type': 'autocomplete',
                'url': '/immobilisations/list_of_articles/',
                'tooltip': 'Choisissez l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        edit_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'type_edit_{{ uuid }}',
                'name': 'type',
                'text': 'Type',
                'type': 'text',
                'url': null,
                'tooltip': 'Le type de l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        edit_record_form.focusNextInput(e);
                    }
                }]
            }, {
                'id': 'marque_edit_{{ uuid }}',
                'name': 'marque',
                'text': 'Marque',
                'type': 'text',
                'url': null,
                'tooltip': 'La marque de l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        edit_record_form.focusNextInput(e);
                    }
                }]
            },

            {
                'id': 'code_barre_id_edit_{{ uuid }}',
                'name': 'code_barre_id',
                'text': 'Code Barre',
                'type': 'text',
                'url': null,
                'tooltip': 'Code barre interne du produit',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        edit_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'serial_number_edit_{{ uuid }}',
                'name': 'serial_number',
                'text': 'Numéro de série',
                'type': 'text',
                'url': null,
                'tooltip': 'Numéro de série de l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        edit_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'pu_ht_edit_{{ uuid }}',
                'name': 'pu_ht',
                'text': 'PU achat',
                'type': 'text',
                'url': null,
                'tooltip': 'Prix d\'achat unitaire hors taxes',
                'required': true,
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatMoney(this.value);
                        }
                    },
                    {
                        'keyup': function (e) {
                            edit_record_form.focusNextInput(e);
                        }
                    }]
            },
            {
                'id': 'unit_discount_perc_edit_{{ uuid }}',
                'name': 'unit_discount_perc',
                'text': 'Remise (%)',
                'type': 'decimal',
                'url': null,
                'tooltip': 'Taux de remise sur article',
                'required': true,
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatNumber(this.value);
                        }
                    },
                    {
                        'keyup': function (e) {
                            edit_record_form.focusNextInput(e);
                        }
                    }]
            },
            {
                'id': 'tva_id_edit_{{ uuid }}',
                'name': 'tva_id',
                'text': 'Taux TVA',
                'type': 'autocomplete',
                'url': '/common/list_of_tva_rates/',
                'tooltip': 'La valeur du bon',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        edit_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'affected_to_employee_id_edit_{{ uuid }}',
                'name': 'affected_to_employee_id',
                'text': 'Affectation Employé',
                'type': 'autocomplete',
                'url': '/common/list_of_employees/',
                'tooltip': 'L\'employé bénificiaire',
                'required': false,
                'events': [{
                    'keyup': function (e) {
                        edit_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'mgx_emplacement_id_edit_{{ uuid }}',
                'name': 'mgx_emplacement_id',
                'text': 'Emplacement',
                'type': 'autocomplete',
                'url': '/immobilisations/list_of_mgx_emplacements/',
                'tooltip': 'L\'emplacement de l\'article',
                'required': false,
                'events': [{
                    'keyup': function (e) {
                        function callback() {
                            document.getElementById('edit_button_' + uuid).click()
                        }

                        edit_record_form.focusNextInput(e, callback);
                    }
                }]
            }],
        'buttons': [
            {
                'id': 'close_button_edit_{{ uuid }}',
                'text': 'Fermer',
                'icon_class': '',
                'tooltip': 'Fermer le dialogue',
                'events': [
                    {
                        'click': function () {
                            document.getElementById('dialog_edit_line_' + uuid).style.display = 'none'
                        }
                    }]
            },
            {
                'id': 'edit_button_{{ uuid }}',
                'text': 'Modifier',
                'icon_class': '',
                'tooltip': 'Enregistrer les informations saisies',
                'events': [
                    {
                        'click': function () {
                            function callback() {
                                main_table.refresh();
                                edit_record_form.clear();
                                update_totals();
                                closeDialog(edit_line_dialog)
                            }

                            edit_record_form.line_id = main_table.selectedPk;
                            edit_record_form.post_data(callback);
                        }
                    }]
            }
        ]
    }
    ;
    edit_record_form.uuid = uuid;
    BuildForm(edit_record_form);
    edit_record_form.disable();

    // Main table
    var main_table = document.getElementById('vouchers_table_' + uuid);
    main_table.url = '/immobilisations/list_of_acquisitions_details_tempo/';
    main_table.uuid = uuid;
    main_table.parent_id = '{{ uuid }}';
    DataTable(main_table);

    // Action's buttons for main table
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [
        {
            'id': 'add_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-plus',
            'tooltip': 'Ajouter une ligne',
            'events': [
                {
                    'click': function () {
                        add_new_record_form.clear();
                        document.getElementById('dialog_add_line_title_' + uuid).innerHTML = 'Ajouter des articles';
                        openDialog(add_lines_dialog)
                    }
                }]
        },
        {
            'id': 'edit_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-pencil',
            'tooltip': 'Modilfier la ligne séléctionée',
            'events': [
                {
                    'click': function () {
                        function callback(obj) {
                            openDialog(edit_line_dialog);
                            document.getElementById('article_id_edit_' + uuid).setSelected(obj.article);
                            document.getElementById('type_edit_' + uuid).value = obj.type;
                            document.getElementById('marque_edit_' + uuid).value = obj.marque;
                            document.getElementById('code_barre_id_edit_' + uuid).value = obj.code_barre_id;
                            document.getElementById('serial_number_edit_' + uuid).value = obj.serial_number;
                            document.getElementById('pu_ht_edit_' + uuid).value = obj.pu_ht;
                            document.getElementById('unit_discount_perc_edit_' + uuid).value = obj.unit_discount_perc;
                            document.getElementById('tva_id_edit_' + uuid).setSelected(obj.tva);
                            document.getElementById('mgx_emplacement_id_edit_' + uuid).setSelected(obj.emplacement);
                            document.getElementById('affected_to_employee_id_edit_' + uuid).setSelected(obj.employee_affectation);
                        }

                        get_line(uuid, main_table.selectedPk,
                            '/immobilisations/articles_acquisition_transactions/', main_table,
                            '{{ csrf_token }}', callback)

                    }
                }]
        },
        {
            'id': 'copy_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-copy',
            'tooltip': 'Dupliquer la ligne séléctionée',
            'events': [
                {
                    'click': function () {
                        function callback(obj) {
                            openDialog(add_lines_dialog);
                            document.getElementById('article_id_' + uuid).setSelected(obj.article);
                            document.getElementById('type_' + uuid).value = obj.type;
                            document.getElementById('marque_' + uuid).value = obj.marque;
                            document.getElementById('pu_ht_' + uuid).value = obj.pu_ht;
                            document.getElementById('unit_discount_perc_' + uuid).value = obj.unit_discount_perc;
                            document.getElementById('tva_id_' + uuid).setSelected(obj.tva)
                        }

                        get_line(uuid, main_table.selectedPk,
                            '/immobilisations/articles_acquisition_transactions/', main_table,
                            '{{ csrf_token }}', callback)

                    }
                }]
        },
        {
            'id': 'delete_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-minus',
            'tooltip': 'Supprimer la ligne séléctionnée',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_table.refresh();
                            console.log('update totals');
                            update_totals()
                        }

                        delete_line(uuid, main_table.selectedPk,
                            '/immobilisations/articles_acquisition_transactions/', main_table,
                            '{{ csrf_token }}', callback)
                    }
                }]
        },
        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        update_totals()
                        main_table.refresh();
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);


    // Filter for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'filter_from_date_' + uuid,
                'text': 'Du',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  à partir de cette date',
                'events': null
            },
            {
                'id': 'filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],

        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.from_date = document.getElementById('filter_from_date_' + uuid).value;
                            main_table.to_date = document.getElementById('filter_to_date_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]

            },


        ]
    };
    filter_area.uuid = uuid;
    BuildFilterTable(filter_area);

    //update totals
    function update_totals() {
        get_totals(uuid, '/immobilisations/articles_acquisition_transactions/', main_table, '{{ csrf_token }}', callback);

        function callback() {
            document.getElementById('total_pu_ht_' + uuid).innerText = accounting.formatMoney(main_table.totals.total_pu_ht);
            document.getElementById('total_discount_value_' + uuid).innerText = accounting.formatMoney(main_table.totals.total_discount_value);
            document.getElementById('total_pu_ht_net_' + uuid).innerText = accounting.formatMoney(main_table.totals.total_pu_ht_net);
            document.getElementById('total_tva_' + uuid).innerText = accounting.formatMoney(main_table.totals.total_tva);
            document.getElementById('total_pu_ttc_' + uuid).innerText = accounting.formatMoney(main_table.totals.total_pu_ttc)
        }
    }

    update_totals()


</script>