<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="actions_area_{{ uuid }}" class="action-buttons"></div>
<div class="filter_area">
        <span class="w3-cell" title="Choisissez l'action à appliquer">
            <label for="actions_list_{{ uuid }}">Action</label>
            <select id="actions_list_{{ uuid }}" class="w3-input w3-border w3-white">
                <option value="add_article_to_employee_affectation">Affecter à un employer</option>
                <option value="terminate_employee_affectation">Terminer l'affectation à l'employer</option>
                <option value="add_article_status_affectation">Nouveau statut de l'article</option>
                <option value="add_article_to_affiliate_affectation">Affecter à une filiale</option>
                <option value="terminate_affiliate_affectation">Terminer l'affectation à la filiale</option>
                <option value="add_article_to_emplacement_affectation">Affecter à un emplacement</option>
            </select></span>
    <span class="w3-cell" title="Appliquer l'action séléctionnée">
        <button title="Appliquer l'action séléctionnée" class=" w3-button"
                id="apply_action_button_{{ uuid }}"><i class=""></i>Appliquer
        </button></span>
</div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="main_table_{{ uuid }}"></div>
<div id="dialog_add_line_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span class="w3-bar-item" id="dialog_add_line_title_{{ uuid }}"></span>
        </div>
        <div id="add_new_record_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<script type="text/javascript">

    var uuid = '{{ uuid }}';

    // Action's buttons for main table
    var add_lines_dialog = document.getElementById('dialog_add_line_' + uuid);
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [
        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        main_table.refresh();
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
        {
            'id': 'export_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-cloud-download',
            'tooltip': 'Exporter les données',
            'events': [
                {
                    'click': function () {
                        window.open('/immobilisations/export_investments_global/');
                    }
                }]
        }
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);

    // Filter for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],
        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Filtrer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.to_date = document.getElementById('filter_to_date_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]
            }]
    };
    filter_area.uuid = uuid;
    BuildFilterTable(filter_area);
    var operating_date = document.getElementById('filter_to_date_' + uuid);
    operating_date.valueAsDate = new Date();
    operating_date.disabled = true;

    // Main table
    var main_table = document.getElementById('main_table_' + uuid);
    main_table.url = '/immobilisations/articles_affectations_report/';
    main_table.uuid = uuid;
    main_table.to_date = operating_date.value;
    main_table._heigh = '80%';
    DataTable(main_table);

    // Action on article
    var apply_action_button = document.getElementById('apply_action_button_' + uuid);
    var affectaion_form = document.getElementById('add_new_record_form_' + uuid);
    apply_action_button.addEventListener('click', function (ev) {
        if (!main_table.selectedPk) {
            var notification = {};
            notification.header = 'Erreur!';
            notification.class = 'w3-orange';
            notification.text = 'Vous devez séléctionnez un article pour effectuer une action';
            pop_notification(notification);
        } else {
            var action = document.getElementById('actions_list_' + uuid).value;
            if (action === 'add_article_to_employee_affectation') {
                var dialog_title = document.getElementById('dialog_add_line_title_' + uuid);
                dialog_title.innerHTML = 'Affecter un article à un employé';
                affectaion_form.innerHTML = '';
                affectaion_form.settings = {
                    'url': '/immobilisations/articles_affectations_manager/',
                    'action': 'add_article_to_employee_affectation',
                    'csrf': '{{ csrf_token }}',
                    'inputs': [
                        {
                            'id': 'article_id_{{ uuid }}',
                            'name': 'article_id',
                            'text': 'Article',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_investments/',
                            'tooltip': 'L\'article à affecté',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'effect_date_{{ uuid }}',
                            'name': 'effect_date',
                            'text': 'Date d\'effet',
                            'type': 'date',
                            'url': null,
                            'tooltip': 'Date d\'effet de l\'affectation',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'employee_id_{{ uuid }}',
                            'name': 'affectation_subject_id',
                            'text': 'Employé',
                            'type': 'autocomplete',
                            'url': '/common/list_of_employees/',
                            'tooltip': 'L\'employé bénificiaire',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'observation_{{ uuid }}',
                            'name': 'observation',
                            'text': 'Observation',
                            'type': 'text',
                            'url': null,
                            'tooltip': 'Observation sur l\'affectation',
                            'required': false,
                            'events': [{
                                'keyup': function (e) {
                                    function callback() {
                                        document.getElementById('add_button_' + uuid).click()
                                    }

                                    affectaion_form.focusNextInput(e, callback);
                                }
                            }]
                        }],
                    'buttons': [
                        {
                            'id': 'close_button_{{ uuid }}',
                            'text': 'Fermer',
                            'icon_class': '',
                            'tooltip': 'Annuler le document con cours',
                            'events': [
                                {
                                    'click': function () {
                                        document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                                    }
                                }]
                        },
                        {
                            'id': 'add_button_{{ uuid }}',
                            'text': 'Appliquer',
                            'icon_class': '',
                            'tooltip': 'Confirmer l\'affecration',
                            'events': [
                                {
                                    'click': function () {
                                        function callback() {
                                            affectaion_form.clear();
                                            main_table.refresh()
                                            closeDialog(add_lines_dialog);
                                        }

                                        affectaion_form.post_data(callback);
                                    }
                                }]
                        }
                    ]
                };
                affectaion_form.uuid = uuid;
                BuildForm(affectaion_form);
                article_inp = document.getElementById('article_id_' + uuid);
                operating_date_inp = document.getElementById('effect_date_' + uuid);
                article_inp.setSelected(main_table.selectedPk);
                article_inp.disabled = true;
                operating_date_inp.valueAsDate = new Date();
                operating_date_inp.disabled = true;
                openDialog(add_lines_dialog);

            }
            else if (action === 'terminate_employee_affectation') {
                dialog_title = document.getElementById('dialog_add_line_title_' + uuid);
                dialog_title.innerHTML = 'Terminer l\'affectation d\' un article à un employé';
                affectaion_form.innerHTML = '';
                affectaion_form.settings = {
                    'url': '/immobilisations/articles_affectations_manager/',
                    'action': 'terminate_employee_affectation',
                    'csrf': '{{ csrf_token }}',
                    'inputs': [
                        {
                            'id': 'article_id_{{ uuid }}',
                            'name': 'article_id',
                            'text': 'Article',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_investments/',
                            'tooltip': 'L\'article à affecté',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'effect_date_{{ uuid }}',
                            'name': 'effect_date',
                            'text': 'Date d\'effet',
                            'type': 'date',
                            'url': null,
                            'tooltip': 'Date d\'effet de l\'affectation',
                            'required': false,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        }],
                    'buttons': [
                        {
                            'id': 'close_button_{{ uuid }}',
                            'text': 'Fermer',
                            'icon_class': '',
                            'tooltip': 'Annuler le document con cours',
                            'events': [
                                {
                                    'click': function () {
                                        document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                                    }
                                }]
                        },
                        {
                            'id': 'add_button_{{ uuid }}',
                            'text': 'Appliquer',
                            'icon_class': '',
                            'tooltip': 'Confirmer l\'affecration',
                            'events': [
                                {
                                    'click': function () {
                                        function callback() {
                                            affectaion_form.clear();
                                            main_table.refresh()
                                            closeDialog(add_lines_dialog)
                                        }

                                        affectaion_form.post_data(callback);
                                    }
                                }]
                        }
                    ]
                };
                affectaion_form.uuid = uuid;
                BuildForm(affectaion_form);
                article_inp = document.getElementById('article_id_' + uuid);
                operating_date_inp = document.getElementById('effect_date_' + uuid);
                article_inp.setSelected(main_table.selectedPk);
                article_inp.disabled = true;
                operating_date_inp.valueAsDate = new Date();
                operating_date_inp.disabled = true;
                openDialog(add_lines_dialog)

            }
            else if (action === 'add_article_status_affectation') {
                dialog_title = document.getElementById('dialog_add_line_title_' + uuid);
                dialog_title.innerHTML = 'Changer le statut d\'un article';
                affectaion_form.innerHTML = '';
                affectaion_form.settings = {
                    'url': '/immobilisations/articles_affectations_manager/',
                    'action': 'add_article_status_affectation',
                    'csrf': '{{ csrf_token }}',
                    'inputs': [
                        {
                            'id': 'article_id_{{ uuid }}',
                            'name': 'article_id',
                            'text': 'Article',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_investments/',
                            'tooltip': 'L\'article à affecté',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'effect_date_{{ uuid }}',
                            'name': 'effect_date',
                            'text': 'Date d\'effet',
                            'type': 'date',
                            'url': null,
                            'tooltip': 'Date d\'effet de l\'affectation',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'status_id_{{ uuid }}',
                            'name': 'affectation_subject_id',
                            'text': 'Statut',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_articles_status/',
                            'tooltip': 'Le nouveau statut de l\'article',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'observation_{{ uuid }}',
                            'name': 'observation',
                            'text': 'Observation',
                            'type': 'text',
                            'url': null,
                            'tooltip': 'Observation sur l\'affectation',
                            'required': false,
                            'events': [{
                                'keyup': function (e) {
                                    function callback() {
                                        document.getElementById('add_button_' + uuid).click()
                                    }

                                    affectaion_form.focusNextInput(e, callback);
                                }
                            }]
                        }],
                    'buttons': [
                        {
                            'id': 'close_button_{{ uuid }}',
                            'text': 'Fermer',
                            'icon_class': '',
                            'tooltip': 'Annuler le document con cours',
                            'events': [
                                {
                                    'click': function () {
                                        document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                                    }
                                }]
                        },
                        {
                            'id': 'add_button_{{ uuid }}',
                            'text': 'Appliquer',
                            'icon_class': '',
                            'tooltip': 'Confirmer l\'affecration',
                            'events': [
                                {
                                    'click': function () {
                                        function callback() {
                                            affectaion_form.clear();
                                            main_table.refresh()
                                            closeDialog(add_lines_dialog);
                                        }

                                        affectaion_form.post_data(callback);
                                    }
                                }]
                        }
                    ]
                };
                affectaion_form.uuid = uuid;
                BuildForm(affectaion_form);
                article_inp = document.getElementById('article_id_' + uuid);
                operating_date_inp = document.getElementById('effect_date_' + uuid);
                article_inp.setSelected(main_table.selectedPk);
                article_inp.disabled = true;
                operating_date_inp.valueAsDate = new Date();
                operating_date_inp.disabled = true;
                openDialog(add_lines_dialog);

            }
            else if (action === 'add_article_to_emplacement_affectation') {
                dialog_title = document.getElementById('dialog_add_line_title_' + uuid);
                dialog_title.innerHTML = 'Changer l\'emplacement d\'un article';
                affectaion_form.innerHTML = '';
                affectaion_form.settings = {
                    'url': '/immobilisations/articles_affectations_manager/',
                    'action': 'add_article_to_emplacement_affectation',
                    'csrf': '{{ csrf_token }}',
                    'inputs': [
                        {
                            'id': 'article_id_{{ uuid }}',
                            'name': 'article_id',
                            'text': 'Article',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_investments/',
                            'tooltip': 'L\'article à affecté',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'effect_date_{{ uuid }}',
                            'name': 'effect_date',
                            'text': 'Date d\'effet',
                            'type': 'date',
                            'url': null,
                            'tooltip': 'Date d\'effet de l\'affectation',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'mgx_emplacement_id_{{ uuid }}',
                            'name': 'affectation_subject_id',
                            'text': 'Emplacement',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_mgx_emplacements/',
                            'tooltip': 'Le nouvel emplacement de l\'article',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'observation_{{ uuid }}',
                            'name': 'observation',
                            'text': 'Observation',
                            'type': 'text',
                            'url': null,
                            'tooltip': 'Observation sur l\'affectation',
                            'required': false,
                            'events': [{
                                'keyup': function (e) {
                                    function callback() {
                                        document.getElementById('add_button_' + uuid).click()
                                    }

                                    affectaion_form.focusNextInput(e, callback);
                                }
                            }]
                        }],
                    'buttons': [
                        {
                            'id': 'close_button_{{ uuid }}',
                            'text': 'Fermer',
                            'icon_class': '',
                            'tooltip': 'Annuler le document con cours',
                            'events': [
                                {
                                    'click': function () {
                                        document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                                    }
                                }]
                        },
                        {
                            'id': 'add_button_{{ uuid }}',
                            'text': 'Appliquer',
                            'icon_class': '',
                            'tooltip': 'Confirmer l\'affecration',
                            'events': [
                                {
                                    'click': function () {
                                        function callback() {
                                            affectaion_form.clear();
                                            main_table.refresh();
                                            closeDialog(add_lines_dialog);
                                        }

                                        affectaion_form.post_data(callback);
                                    }
                                }]
                        }
                    ]
                };
                affectaion_form.uuid = uuid;
                BuildForm(affectaion_form);
                var article_inp = document.getElementById('article_id_' + uuid);
                var operating_date_inp = document.getElementById('effect_date_' + uuid);
                article_inp.setSelected(main_table.selectedPk);
                article_inp.disabled = true;
                operating_date_inp.valueAsDate = new Date();
                operating_date_inp.disabled = true;
                openDialog(add_lines_dialog);

            }
            else if (action === 'add_article_to_affiliate_affectation') {
                dialog_title = document.getElementById('dialog_add_line_title_' + uuid);
                dialog_title.innerHTML = 'Affecter un article à une Filiale';
                affectaion_form.innerHTML = '';
                affectaion_form.settings = {
                    'url': '/immobilisations/articles_affectations_manager/',
                    'action': 'add_article_to_affiliate_affectation',
                    'csrf': '{{ csrf_token }}',
                    'inputs': [
                        {
                            'id': 'article_id_{{ uuid }}',
                            'name': 'article_id',
                            'text': 'Article',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_investments/',
                            'tooltip': 'L\'article à affecté',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'effect_date_{{ uuid }}',
                            'name': 'effect_date',
                            'text': 'Date d\'effet',
                            'type': 'date',
                            'url': null,
                            'tooltip': 'Date d\'effet de l\'affectation',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'affiliate_id_{{ uuid }}',
                            'name': 'affectation_subject_id',
                            'text': 'Filiale',
                            'type': 'autocomplete',
                            'url': '/common/list_of_companies/',
                            'tooltip': 'La filiale bénificiaire',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'observation_{{ uuid }}',
                            'name': 'observation',
                            'text': 'Observation',
                            'type': 'text',
                            'url': null,
                            'tooltip': 'Observation sur l\'affectation',
                            'required': false,
                            'events': [{
                                'keyup': function (e) {
                                    function callback() {
                                        document.getElementById('add_button_' + uuid).click()
                                    }

                                    affectaion_form.focusNextInput(e, callback);
                                }
                            }]
                        }],
                    'buttons': [
                        {
                            'id': 'close_button_{{ uuid }}',
                            'text': 'Fermer',
                            'icon_class': '',
                            'tooltip': 'Annuler le document con cours',
                            'events': [
                                {
                                    'click': function () {
                                        document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                                    }
                                }]
                        },
                        {
                            'id': 'add_button_{{ uuid }}',
                            'text': 'Appliquer',
                            'icon_class': '',
                            'tooltip': 'Confirmer l\'affecration',
                            'events': [
                                {
                                    'click': function () {
                                        function callback() {
                                            affectaion_form.clear();
                                            main_table.refresh()
                                            closeDialog(add_lines_dialog);
                                        }

                                        affectaion_form.post_data(callback);
                                    }
                                }]
                        }
                    ]
                };
                affectaion_form.uuid = uuid;
                BuildForm(affectaion_form);
                article_inp = document.getElementById('article_id_' + uuid);
                operating_date_inp = document.getElementById('effect_date_' + uuid);
                article_inp.setSelected(main_table.selectedPk);
                article_inp.disabled = true;
                operating_date_inp.valueAsDate = new Date();
                operating_date_inp.disabled = true;
                openDialog(add_lines_dialog);

            }
            else if (action === 'terminate_affiliate_affectation') {
                dialog_title = document.getElementById('dialog_add_line_title_' + uuid);
                dialog_title.innerHTML = 'Terminer l\'affectation d\' un article à une Filiale';
                affectaion_form.innerHTML = '';
                affectaion_form.settings = {
                    'url': '/immobilisations/articles_affectations_manager/',
                    'action': 'terminate_affiliate_affectation',
                    'csrf': '{{ csrf_token }}',
                    'inputs': [
                        {
                            'id': 'article_id_{{ uuid }}',
                            'name': 'article_id',
                            'text': 'Article',
                            'type': 'autocomplete',
                            'url': '/immobilisations/list_of_investments/',
                            'tooltip': 'L\'article à affecté',
                            'required': true,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        },
                        {
                            'id': 'effect_date_{{ uuid }}',
                            'name': 'effect_date',
                            'text': 'Date d\'effet',
                            'type': 'date',
                            'url': null,
                            'tooltip': 'Date d\'effet de l\'affectation',
                            'required': false,
                            'events': [{
                                'keyup': function (e) {
                                    affectaion_form.focusNextInput(e);
                                }
                            }]
                        }],
                    'buttons': [
                        {
                            'id': 'close_button_{{ uuid }}',
                            'text': 'Fermer',
                            'icon_class': '',
                            'tooltip': 'Annuler le document con cours',
                            'events': [
                                {
                                    'click': function () {
                                        document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                                    }
                                }]
                        },
                        {
                            'id': 'add_button_{{ uuid }}',
                            'text': 'Appliquer',
                            'icon_class': '',
                            'tooltip': 'Confirmer l\'affecration',
                            'events': [
                                {
                                    'click': function () {
                                        function callback() {
                                            affectaion_form.clear();
                                            main_table.refresh()
                                            closeDialog(add_lines_dialog)
                                        }

                                        affectaion_form.post_data(callback);
                                    }
                                }]
                        }
                    ]
                };
                affectaion_form.uuid = uuid;
                BuildForm(affectaion_form);
                article_inp = document.getElementById('article_id_' + uuid);
                operating_date_inp = document.getElementById('effect_date_' + uuid);
                article_inp.setSelected(main_table.selectedPk);
                article_inp.disabled = true;
                operating_date_inp.valueAsDate = new Date();
                operating_date_inp.disabled = true;
                openDialog(add_lines_dialog)

            }
        }
    });
</script>
