<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="main_table_{{ uuid }}"></div>
<div id="child_table_buttons_{{ uuid }}"></div>
<div id="child_filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="child_table_{{ uuid }}"></div>
<script type="text/javascript">
    var uuid = '{{ uuid }}';
    // Main table
    var main_table = document.getElementById('main_table_' + uuid);
    main_table.url = '/immobilisations/list_of_reforms/';
    main_table.uuid = uuid;
    main_table._heigh = '35%';
    main_table.parent_id = '';
    DataTable(main_table);
    main_table.addEventListener('click', function (ev) {
            document.getElementById('child_refresh_button_' + uuid).click()
        }
    )
    // filter area for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'filter_from_date_' + uuid,
                'text': 'Du',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  à partir de cette date',
                'events': null
            },
            {
                'id': 'filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],

        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.from_date = document.getElementById('filter_from_date_' + uuid).value;
                            main_table.to_date = document.getElementById('filter_to_date_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                            child_table.parent_id = -1
                            child_table.refresh()
                        }
                    }]

            },


        ]
    };
    filter_area.uuid = uuid;
    BuildFilterTable(filter_area);
    // Action's buttons for main table
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [

        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        main_table.refresh();
                        child_table.parent_id = -1
                        child_table.refresh()
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
        {
            'id': 'print_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-print',
            'tooltip': 'Imprimer le document séléctionné',
            'events': [
                {
                    'click': function () {
                        var parent_id = main_table.selectedPk;
                        window.open('/immobilisations/print_article_reforms/?parent_id=' + parent_id);
                    }
                }]
        },
        {
            'id': 'upload_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-link',
            'tooltip': 'Télécharger le scan du document séléctionné',
            'events': [
                {
                    'click': function () {
                        var document_id = main_table.selectedPk;
                        if (!document_id) {
                            var notification = {};
                            notification.header = 'Erreur!';
                            notification.class = 'w3-orange';
                            notification.text = 'Vous devez choisir un document pour télécharger son scan';
                            pop_notification(notification)
                        } else {
                            var new_window = window.open('/immobilisations/upload_file_form/?document_id=' + document_id +
                                '&app_label=immobilisation&model_name=reform',
                                "_blank", "toolbar=0,titlebar=0,location=no,scrollbars=yes," +
                                "resizable=no,top=500,left=500,width=600,height=300");
                            new_window.onunload = function (ev) {
                                main_table.refresh()
                            }
                        }
                    }
                }]
        }
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);

    var child_table = document.getElementById('child_table_' + uuid);
    child_table.url = '/immobilisations/list_of_reforms_details/';
    child_table.uuid = uuid;
    child_table._heigh = '50%';
    child_table.parent_id = -1;
    DataTable(child_table);
    // filter area for child table
    var child_filter_area = document.getElementById('child_filter_area_' + uuid);
    child_filter_area.settings = {
        'inputs': [
            {
                'id': 'child_filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'child_filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('child_apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'child_filter_from_date_' + uuid,
                'text': 'Du',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  à partir de cette date',
                'events': null
            },
            {
                'id': 'child_filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],

        'buttons': [
            {
                'id': 'child_apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            child_table.q = document.getElementById('child_filter_q_' + uuid).value;
                            child_table.field = document.getElementById('child_filter_field_' + uuid).value;
                            child_table.from_date = document.getElementById('child_filter_from_date_' + uuid).value;
                            child_table.to_date = document.getElementById('child_filter_to_date_' + uuid).value;
                            child_table.refresh();
                            child_filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]

            },


        ]
    };
    child_filter_area.uuid = uuid;
    BuildFilterTable(child_filter_area);
    // Action's buttons for child table
    var child_table_buttons_container = document.getElementById('child_table_buttons_' + uuid);
    child_table_buttons_container.settings = [

        {
            'id': 'child_refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        if (main_table.selectedPk) {
                            child_table.parent_id = main_table.selectedPk
                        } else {
                            child_table.parent_id = -1
                        }
                        child_table.refresh();
                    }
                }]
        },
        {
            'id': 'child_filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < child_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + child_table.table_data.columns_data[h]['name'] + '">' +
                                child_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('child_filter_field_' + uuid).innerHTML = _html;
                        child_filter_area.show()
                    }
                }]
        },
    ];
    child_table_buttons_container.uuid = uuid;
    BuildActionButtons(child_table_buttons_container);
</script>