<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="main_buttons_{{ uuid }}"></div>
<div id="main_form_{{ uuid }}" style="width: 350px"></div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="main_table_{{ uuid }}"></div>
<div id="dialog_add_line_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span class="w3-bar-item">Ajouter une série de Bons</span>
        </div>
        <div id="add_new_record_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<script type="text/javascript">

    var uuid = '{{ uuid }}';

    // Main table
    var main_table = document.getElementById('main_table_' + uuid);
    main_table.url = '{{ url }}';
    main_table.uuid = uuid;
    main_table.parent_id = '';
    main_table.page_size = 30;
    main_table._heigh = '90%';
    DataTable(main_table);

    // Action's buttons for main table
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [
        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        main_table.refresh();
                    }
                }]
        },
        {
            'id': 'print_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-print',
            'tooltip': 'Imprimer la ligne séléctionnée',
            'events': [
                {
                    'click': function () {
                        var parent_id = main_table.selectedPk;
                        var table_name = main_table.table_name;
                        window.open('/immobilisations/print_article_affectation/?parent_id=' +
                            parent_id + '&history=' + table_name);
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
        {
            'id': 'upload_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-link',
            'tooltip': 'Télécharger le scan du document séléctionné',
            'events': [
                {
                    'click': function () {
                        var document_id = main_table.selectedPk;
                        if (!document_id) {
                            var notification = {};
                            notification.header = 'Erreur!';
                            notification.class = 'w3-orange';
                            notification.text = 'Vous devez choisir un document pour télécharger son scan';
                            pop_notification(notification)
                        } else {
                            var new_window = window.open('/immobilisations/upload_file_form/?document_id=' + document_id +
                                '&app_label={{ app_label }}&model_name={{ model_name }}',
                                "_blank", "toolbar=0,titlebar=0,location=no,scrollbars=yes," +
                                "resizable=no,top=500,left=500,width=600,height=300");
                            new_window.onunload = function (ev) {
                                main_table.refresh()
                            }
                        }
                    }
                }]
        }
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);


    // Filter for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'filter_from_date_' + uuid,
                'text': 'Du',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  à partir de cette date',
                'events': null
            },
            {
                'id': 'filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],

        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.from_date = document.getElementById('filter_from_date_' + uuid).value;
                            main_table.to_date = document.getElementById('filter_to_date_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]

            },


        ]
    };
    filter_area.uuid = uuid;
    BuildFilterTable(filter_area);

</script>

