<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="main_table_{{ uuid }}"></div>
<div id="dialog_add_line_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span class="w3-bar-item">Ajouter une facture d'acquisition</span>
        </div>
        <div id="add_new_record_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<script type="text/javascript">
    var uuid = '{{ uuid }}';
    // add new record form
    var add_new_record_form = document.getElementById('add_new_record_form_' + uuid);
    add_new_record_form.settings = {
        'url': '/immobilisations/list_of_article_acquisition_invoices/',
        'action': 'create_invoice',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'supplier_{{ uuid }}',
                'name': "supplier",
                'text': 'Fournisseur',
                'type': 'autocomplete',
                'url': '/common/list_of_supplyers/',
                'tooltip': 'Le fournisseur de l\'article',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'invoice_number_{{ uuid }}',
                'name': "invoice_number",
                'text': 'N° Facture',
                'type': 'text',
                'url': null,
                'tooltip': 'Le numéro de la facture fournisseur. Exemple :0065432/2018',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'invoice_date_{{ uuid }}',
                'name': "invoice_date",
                'text': 'Date facture',
                'type': 'date',
                'url': null,
                'tooltip': 'La date de la facture fournisseur. Exemple :25/07/2018',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'value_ht_{{uuid}}',
                'name': "value_ht",
                'text': 'Montant HT Brut',
                'type': 'text',
                'url': null,
                'tooltip': 'Le montant brut et hors taxes de la facture. Exemple: 20000.00',
                'required': true,
                'events': [{
                    'blur': function () {
                        this.value = accounting.formatNumber(this.value);
                    }
                },
                    {
                        'keyup': function (e) {
                            add_new_record_form.focusNextInput(e)
                        }
                    }]
            },
            {
                'id': 'discount_on_invoice_{{uuid}}',
                'name': "discount_on_invoice",
                'text': 'Remise sur facture',
                'type': 'text',
                'url': null,
                'tooltip': 'Le montant le la remise appliquée sur la facture',
                'required': true,
                'events': [{
                    'blur': function () {
                        this.value = accounting.formatNumber(this.value);
                    }
                },
                    {
                        'keyup': function (e) {
                            add_new_record_form.focusNextInput(e)
                        }
                    }]
            },
            {
                'id': 'value_ht_net_{{uuid}}',
                'name': "value_ht_net",
                'text': 'Montant HT Net',
                'type': 'text',
                'url': null,
                'tooltip': 'Le monatnt net et hors taxes de la facture. Exemple: 20000.00',
                'required': true,
                'events': [{
                    'blur': function () {
                        this.value = accounting.formatNumber(this.value);
                    }
                },
                    {
                        'keyup': function (e) {
                            add_new_record_form.focusNextInput(e)
                        }
                    }]
            },
            {
                'id': 'value_tva_{{uuid}}',
                'name': "value_tva",
                'text': 'TVA (Valeur)',
                'type': 'text',
                'url': null,
                'tooltip': 'Le montant totale de la Taxe sur Valeur Ajoutée de la facture. Exemple: 13200.00',
                'required': true,
                'events': [{
                    'blur': function () {
                        this.value = accounting.formatNumber(this.value);
                    }
                },
                    {
                        'keyup': function (e) {
                            add_new_record_form.focusNextInput(e)
                        }
                    }]
            },
            {
                'id': 'value_ttc_{{uuid}}',
                'name': "value_ttc",
                'text': 'Montant TTC',
                'type': 'text',
                'url': null,
                'tooltip': 'Le monatnt avec toutes les taxes comprises de la facture. Exemple: 22000.00',
                'required': true,
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatNumber(this.value);
                        }
                    },
                    {
                        'keyup': function (e) {
                            function callback() {
                                document.getElementById('add_button_' + uuid).click()
                            }

                            add_new_record_form.focusNextInput(e, callback)
                        }
                    }]
            }
        ],
        'buttons': [
            {
                'id': 'close_button_{{ uuid }}',
                'text': 'Fermer',
                'icon_class': '',
                'tooltip': 'Fermer le dialogue',
                'events': [
                    {
                        'click': function () {
                            document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                        }
                    }]
            },
            {
                'id': 'add_button_{{ uuid }}',
                'text': 'Ajouter',
                'icon_class': '',
                'tooltip': 'Enregistrer les informations saisies',
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatNumber(this.value);
                        }
                    },
                    {
                        'click': function () {
                            function callback() {
                                add_new_record_form.clear();
                                main_table.refresh()
                            }

                            add_new_record_form.post_data(callback);
                        }
                    }]
            }
        ]
    };
    add_new_record_form.uuid = uuid;
    BuildForm(add_new_record_form);
    // Main table
    var main_table = document.getElementById('main_table_' + uuid);
    main_table.url = '/immobilisations/list_of_invoices/';
    main_table.uuid = uuid;
    main_table.media_url = '{{ media_url }}';
    main_table.parent_id = '';
    main_table._heigh = '90%';
    DataTable(main_table);
    // filter area for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'filter_from_date_' + uuid,
                'text': 'Du',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  à partir de cette date',
                'events': null
            },
            {
                'id': 'filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],

        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.from_date = document.getElementById('filter_from_date_' + uuid).value;
                            main_table.to_date = document.getElementById('filter_to_date_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]

            },


        ]
    };
    filter_area.uuid = uuid;
    BuildFilterTable(filter_area);
    // Action's buttons for main table
    var add_lines_dialog = document.getElementById('dialog_add_line_' + uuid);
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [
        {
            'id': 'add_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-plus',
            'tooltip': 'Ajouter une Facture',
            'events': [
                {
                    'click': function () {
                        openDialog(add_lines_dialog)
                    }
                }]
        },
        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        main_table.refresh();
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
        {
            'id': 'upload_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-link',
            'tooltip': 'Télécharger le scan de la facture séléctionnée',
            'events': [
                {
                    'click': function () {
                        var document_id = main_table.selectedPk;
                        if (!document_id) {
                            var notification = {};
                            notification.header = 'Erreur!';
                            notification.class = 'w3-orange';
                            notification.text = 'Vous devez choisir une facture pour télécharger son scan';
                            pop_notification(notification)
                        } else {
                            var new_window = window.open('/immobilisations/upload_file_form/?document_id=' + document_id +
                                '&app_label=immobilisation&model_name=invoice',
                                "_blank", "toolbar=0,titlebar=0,location=no,scrollbars=yes," +
                                "resizable=no,top=500,left=500,width=600,height=300");
                            new_window.onunload = function (ev) {
                                main_table.refresh()
                            }
                        }
                    }
                }]
        }
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);
</script>