{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Bon de retour N°{{ header.id }} </title>

    <style>
        @font-face {
            font-family: 'C39';
            src: url('{% static 'fonts/c39m3-webfont.woff2' %}') format('woff2'),
            url('{% static 'fonts/c39m3-webfont.woff' %}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: MyUbuntu;
            src: url('{% static 'fonts/Ubuntu-L.ttf'%}')
        }

        h1 {
            font-family: MyUbuntu;
            font-size: 16px;
        }

        body {
            font-family: MyUbuntu;
            font-size: 13px;
            width: 19.7cm;
        }

        table, td, th {
            border: 1px solid;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 25px;
        }

        td {
            padding: 5px;
        }

        .code_barre {
            font-family: C39;
            font-size: 30px;
            padding: 5px
        }

    </style>
</head>
<body>
<div id="content">
    <h1 align="center">Bon de retour N°{{ header.id }}</h1>
    <h3 align="center"> Catégorie: Bons de carburant</h3>
    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by.get_full_name }}</td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <table style="width: 60%">
        <tr>
            <td><strong>Date du retour</strong></td>
            <td>{{ header.date_retour }}</td>
        </tr>
        </table>
    <br>
    <br>
    <table>
        <tr>
            <th>Bons retournées</th>
            <th>Valeur du Bon</th>

        </tr>
        {% for item in details %}
            <tr>

                <td>{{ item.bon.n_bon }}</td>
                <td>{{ item.bon.valeur_bon }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <footer>
        <p> Je soussogné , {{ header.created_by.get_full_name }}, confirme avoir reçu {{ voochers_sum }} bon(s)
            en tant que retour.Et cela comme détailé sur le tableau ci-dessus</p>
        <div align="right" style="padding-right: 50px">Signature</div>
    </footer>
</div>
</body>
</html>