{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Bon d'entrée N°{{ header.id }} </title>

    <style>
        @font-face {
            font-family: 'C39';
            src: url('{% static 'fonts/c39m3-webfont.woff2' %}') format('woff2'),
            url('{% static 'fonts/c39m3-webfont.woff' %}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: MyUbuntu;
            src: url('{% static 'fonts/Ubuntu-L.ttf'%}')
        }

        h1 {
            font-family: MyUbuntu;
            font-size: 16px;
        }

        body {
            font-family: MyUbuntu;
            font-size: 13px;
            width: 19.7cm;
        }

        table, td, th {
            border: 1px solid;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 25px;
        }

        td {
            padding: 5px;
        }

        .code_barre {
            font-family: C39;
            font-size: 30px;
            padding: 5px
        }

    </style>
</head>
<body>
<div id="content">
    <h1 align="center">Bon d'entrée en stock N°{{ header.id }}</h1>
    <h3 align="center"> Catégorie: Bons de carburant</h3>
    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by.get_full_name }} </td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>
    <table style="width: 60%">
        <tr>
            <td><strong>Fournisseur</strong></td>
            <td>{{ header.fournisseur }}</td>
        </tr>
        <tr>
            <td><strong>N° et Date de Facture</strong></td>
            <td>{{ header.n_facture }} du {{ header.date_facture }}</td>
        </tr>
        <tr>
            <td><strong>Montant HT</strong></td>
            <td align="right">{{ header.montant_ht }}</td>
        </tr>
        <tr>
            <td><strong>Montant TTC</strong></td>
            <td align="right">{{ header.montant_ttc }}</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>
            <th>Du Numéro</th>
            <th>Au Numéro</th>
            <th>Quantité</th>
            <th>Valeur par Bon</th>

        </tr>
        {% for item in grouped_details %}
            <tr>
                <td align="left">{{ item.first }}</td>
                <td align="left">{{ item.last }}</td>
                <td align="right">{{ item.quantity }}</td>
                <td align="right">{{ item.value }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>
    <footer>
    </footer>
</div>
</body>
</html>