{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Affectation véhicule N°{{ header.id }} </title>

    <style>
        @font-face {
            font-family: 'C39';
            src: url('{% static 'fonts/c39m3-webfont.woff2' %}') format('woff2'),
            url('{% static 'fonts/c39m3-webfont.woff' %}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: MyUbuntu;
            src: url('{% static 'fonts/Ubuntu-L.ttf'%}')
        }

        h1 {
            font-family: MyUbuntu;
            font-size: 16px;
        }

        body {
            font-family: MyUbuntu;
            font-size: 13px;
            width: 19.7cm;
        }

        table, td, th {
            border: 1px solid;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 25px;
        }

        td {
            padding: 5px;
        }

        .code_barre {
            font-family: C39;
            font-size: 30px;
            padding: 5px
        }

    </style>
</head>
<body>
<div id="content">
    <h1 align="center">Affectation N°{{ header.id }} du véhicule {{ header.vehicule }} <br>
        vers filiale : {{ header.filiale }}
    </h1>


    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by.get_full_name }} </td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>

            <td><strong>Date d'effet de l'affectation</strong></td>
            <td>{{ header.date_effet }}</td>
        </tr>
        <tr>
            <td><strong>Véhicule</strong></td>
            <td>{{ header.vehicule }}</td>
        </tr>
        <tr>
            <td><strong>Affectation vers filiale </strong></td>
            <td>{{ header.filiale }}</td>
        </tr>
        <tr>
            <td><strong>kilomèrtarge</strong></td>
            <td>{{ header.kilometrage }} Km</td>
        </tr>
        <tr>
            <td><strong>Observations</strong></td>
            <td>{{ header.observation }}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>

    <footer>
        <div align="right">Signature Responsable <br> du parc auto</div>
    </footer>
</div>
</body>
</html>