<div id="page_{{ uuid }}" class="master_page"></div>
<div id="details_bar_{{ uuid }}" class="w3-bar bottom-bar details_area w3-border">
    <div class="w3-bar-item">Détails</div>
    <div id='show_details_button_{{ uuid }}' class="w3-bar-item w3-button" title="Détails des bons"><i
            class="fas fa-list"></i></div>
    <div id='hide_details_area_{{ uuid }}' class="w3-bar-item w3-button w3-right"><i class="fas fa-arrow-down"></i>
    </div>
</div>
<div id="details_area_{{ uuid }}" class="details_area">
</div>
<script type="text/javascript">
    let uuid = '{{ uuid }}';
    let details_bar = document.getElementById('details_bar_{{ uuid }}');
    let details_button = document.getElementById('show_details_button_{{ uuid }}');
    let hide_details_area_button = document.getElementById('hide_details_area_{{ uuid }}');
    hide_details_area_button.onclick = function () {
        hide_details_area()
    };

    let page = document.getElementById('page_{{ uuid }}');
    let details_area = document.getElementById('details_area_{{ uuid }}');
    page.url = '/wms/purchase_tempo_admin/';
    page.style.height = page.parentNode.offsetHeight - (details_bar.offsetHeight / 2) + 'px';
    page.csrf_token = '{{ csrf_token }}';
    page.uuid = uuid;
    page.extra_actions = [{
        'id': 'commit_button_' + uuid,
        'text': '',
        'icon_class': 'fas fa-save',
        'tooltip': 'Enregistrer le bon',
        'events': [
            {
                'click': function () {
                    function callback() {
                        page.main_table.refresh();
                        page.details_page.main_table.refresh()
                    }

                    commit(page.uuid, page.main_table.selectedPk, page.url, page.main_table, page.csrf_token, callback)
                }
            }]
    }];
    BuildPage(page);
    details_button.onclick = function () {
        if (details_area.getAttribute('opened') === 'true') {
            return
        }
        page.details_page = document.createElement('DIV');
        show_details_area('70%');
        details_area.appendChild(page.details_page);
        page.details_page.uuid = generateUUID();
        page.details_page.id = 'page_' + page.details_page.uuid;
        page.details_page.url = '/wms/purchase_detail_tempo_admin/';
        page.details_page.csrf_token = '{{ csrf_token }}';
        BuildPage(page.details_page);
        page.details_page.main_table.classList.add('details-data-table');
        page.details_page.resizeHigh('100%');
        document.addEventListener('row_selected_in_table_' + page.uuid, function () {
            page.details_page.parent_id = page.main_table.selectedPk;
            page.details_page.main_table.parent_id = page.main_table.selectedPk;
            page.details_page.main_table.refresh();
            page.details_page.main_table_add_line_from.clear()

        })
    };

    document.addEventListener('loaded_table_' + page.uuid, function (ev) {
        // open details area
        details_button.click();
    });

    function show_details_area(_height) {
        while (details_area.firstChild) {
            details_area.removeChild(details_area.firstChild)
        }
        page.resizeHigh('30%');
        details_area.setAttribute('opened', true);
        details_area.style.height = (details_area.parentNode.offsetHeight / 2) - details_bar.offsetHeight + 'px';
        let selected_row = page.main_table.selectedPk;
        if (selected_row) {
            page.details_page.parent_id = page.main_table.selectedPk
        } else {
            page.details_page.parent_id = '0'  // Very important !
        }
    }

    function hide_details_area() {
        while (details_area.firstChild) {
            details_area.removeChild(details_area.firstChild)
        }
        page.resizeHigh(page.parentNode.offsetHeight - (details_bar.offsetHeight / 2) + 'px');
        details_area.style.height = '0px';
        details_area.setAttribute('opened', false)
    }


</script>