<div id="page_{{ uuid }}" class="master_page"></div>
<script type="text/javascript">
    let uuid = '{{ uuid }}';
    let page = document.getElementById('page_{{ uuid }}');
    page.url = '/wms/purchase_detail_tempo_admin/';
    page.style.height = '100%';
    page.csrf_token = '{{ csrf_token }}';
    page.uuid = uuid;
    BuildPage(page);
    let add_line_button = document.getElementById('add_line_button__' + page.uuid);
    add_line_button.onclick = function (ev) {
        console.log('clicked');
        if (!add_line_button){
            let notification ={}
            notification.text = 'Page non encore chargée'
            pop_notification(notification)
        }
        else if (!page.parent_id){
            let notification ={};
            notification.text = 'Vous devez séléctionner un Bon parent pour ajouter des produits';
            pop_notification(notification)

        }
        else {
            console.log('ok')
        }
    }


</script>