<div id="page_{{ uuid }}" class="master_page"></div>
<div id="details_bar_{{ uuid }}" class="w3-bar bottom-bar">
    <div id='show_details_button_{{ uuid }}' class="w3-bar-item w3-button details_tab_link" title="Le Bon séléctionné">
        <span class="link-text"><span id='parent_info_{{ uuid }}' class="w3-left">LL000000/00</span></span>
        <span id="close_details_button_{{ uuid }}" class="close-tab-x" title="Fermer">
                <i class="fas fa-times"></i>
            </span>

    </div>
</div>
<div id="details_area_{{ uuid }}" class="details_area"></div>
<script type="text/javascript">
    let uuid = '{{ uuid }}';
    let show_details_button = document.getElementById('show_details_button_{{ uuid }}');
    let close_details_button = document.getElementById('close_details_button_{{ uuid }}');
    let page = document.getElementById('page_{{ uuid }}');
    let details_area = document.getElementById('details_area_{{ uuid }}');
    page.url = '/wms/purchase_admin/';
    page.child_url = '/wms/purchase_detail_admin/';
    page.style.height = page.parentNode.offsetHeight - 15 + 'px';
    // 15 px because of the details bar
    page.csrf_token = '{{ csrf_token }}';
    page.uuid = uuid;
    page.extra_actions = [
        {
            'id': 'print_button_' + uuid,
            'text': '',
            'icon_class': 'fas fa-print',
            'tooltip': 'Imprimer',
            'events': [
                {
                    'click': function () {
                        window.open('/wms/print_pharmaceutical_purchase_receipt/?parent_id=' + page.main_table.selectedPk);
                    }
                }]
        },
         {
            'id': 'import_data_button_' + uuid,
            'text': '',
            'icon_class': 'fas fa-upload',
            'tooltip': 'Importer des fichiers d\'achat depuis Pharmnet',
            'events': [
                {
                    'click': function () {
                        let new_window = window.open('/interfacing/upload_interfacing_files/',
                            "_blank",
                            "toolbar=0,titlebar=0,location=no,scrollbars=yes,resizable=no,top=500,left=500," +
                            "width=600,height=300");
                        new_window.onunload = function (ev) {
                            page.main_table.refresh()
                        }
                    }
                }]
        }
    ];
    function child_page_built_callback() {
    }
    function child_table_loaded_callback() {
         let parent_info = document.getElementById('parent_info_{{ uuid }}');
        parent_info.textContent = page.details_page.main_table.parent_data.id;
    }
    BuildPage(page);
    BuildChildPage(page, details_area, child_page_built_callback, child_table_loaded_callback);
    close_details_button.onclick = function (ev) {
        ev.preventDefault();
        ev.stopPropagation();
        hide_details_area(page, details_area)
    };
    show_details_button.onclick = function () {
        show_details_area(page, details_area)
    }
</script>