<div id="page_{{ uuid }}" class="master_page"></div>
<div id="details_bar_{{ uuid }}" class="w3-bar bottom-bar">
    <div id='show_details_button_{{ uuid }}' class="w3-bar-item w3-button details_tab_link" title="Le Bon séléctionné">
        <span class="link-text"><span id='parent_info_{{ uuid }}' class="w3-left">LL000000/00</span></span>
        <span id="close_details_button_{{ uuid }}" class="close-tab-x" title="Fermer">
                <i class="fas fa-times"></i>
            </span>

    </div>
</div>
<div id="details_area_{{ uuid }}" class="details_area"></div>

<script type="text/javascript">
    let uuid = '{{ uuid }}';
    let show_details_button = document.getElementById('show_details_button_{{ uuid }}');
    let close_details_button = document.getElementById('close_details_button_{{ uuid }}');
    let page = document.getElementById('page_{{ uuid }}');
    let details_area = document.getElementById('details_area_{{ uuid }}');
    page.url = '/wms/transfer_admin/';
    page.child_url = '/wms/transfer_detail_admin/';
    page.style.height = page.parentNode.offsetHeight - 15 + 'px';
    // 15 px because of the details bar
    page.csrf_token = '{{ csrf_token }}';
    page.uuid = uuid;
    page.extra_actions = [
        {
            'id': 'print_button_' + uuid,
            'text': '',
            'icon_class': 'fas fa-print',
            'tooltip': 'Imprimer',
            'events': [
                {
                    'click': function () {
                        let parent_id = page.main_table.selectedPk;
                        window.open('/wms/print_transfer_order/?parent_id=' + parent_id);
                    }
                }]
        }
    ];

    function UpdateAddLineForm() {
        let to_emplacement_input = document.getElementById('to_emplacement_id__' + page.details_page.uuid);
        let to_status_input = document.getElementById('to_status_id__' + page.details_page.uuid);
        let flew_type = page.details_page.main_table.parent_data.flew_type_id;
        to_emplacement_input.disabled = flew_type !== 2;
        to_status_input.disabled = flew_type !== 4;
    }

    function UpdateBathInput() {
        let product_id = document.getElementById('product_id__' + page.details_page.uuid).selectedPk || '0';
        let batch_input = document.getElementById('batch_id__' + page.details_page.uuid);
        batch_input.fixed_filter = JSON.stringify({
            batch__product_id: product_id,
            emplacement__store_id:page.details_page.main_table.parent_data.from_store_id
        });
        batch_input.setSelected(null);
    }

    function UpdateBathEdit() {
        let edit_product_id = document.getElementById('product_id__edit__' + page.details_page.uuid).selectedPk || '0';
        let edit_batch_input = document.getElementById('batch_id__edit__' + page.details_page.uuid);
        edit_batch_input.fixed_filter = JSON.stringify({
            batch__product_id: edit_product_id,
            emplacement__store_id:page.details_page.main_table.parent_data.from_store_id
        });
        edit_batch_input.setSelected(null);
    }

    function child_page_built_callback() {
        let product_input = document.getElementById('product_id__' + page.details_page.uuid);
        let edit_product_input = document.getElementById('product_id__edit__' + page.details_page.uuid);
        document.addEventListener('row_selected_in_combo_' + product_input.getAttribute('name') + '__' + page.details_page.uuid,
            function (ev) {
                UpdateBathInput()
            });
        document.addEventListener('row_selected_in_combo_' + edit_product_input.getAttribute('name') + '__edit__' + page.details_page.uuid,
            function (ev) {
                UpdateBathEdit()
            });
    }

    function child_table_loaded_callback() {
        let parent_info = document.getElementById('parent_info_{{ uuid }}');
        parent_info.textContent = page.details_page.main_table.parent_data.id;
        UpdateAddLineForm();
        UpdateBathInput();
        UpdateBathEdit()

    }

    BuildPage(page);
    BuildChildPage(page, details_area, child_page_built_callback, child_table_loaded_callback);

    document.addEventListener('loaded_table_' + page.uuid, function (ev) {
        let flew_type_input = document.getElementById('flew_type_id__' + page.uuid);
        document.addEventListener('row_selected_in_combo_' + flew_type_input.getAttribute('name') + '__' + page.uuid,
            function (ev) {
                adaptNewTransferForm()
            });

        function adaptNewTransferForm() {
            let action_id = document.getElementById('flew_type_id__' + page.uuid).selectedPk;
            let from_store = document.getElementById('from_store_id__' + page.uuid);
            let to_store = document.getElementById('to_store_id__' + page.uuid);
            to_store.setSelected(null);
            from_store.setSelected(null);
            if (action_id === '1') {
                // transfer between stores
                to_store.disabled = false;
            } else if (action_id === '3') {
                // complete packs selling
                function callback_1(store_id) {
                    to_store.setSelected(store_id);
                    to_store.disabled = true;
                }

                getRawDataFromServer('get_picking_store_id', page.main_table, page.uuid, callback_1);
            } else if (action_id === '2') {
                // storage emplacement setting
                to_store.disabled = true;
            } else if (action_id === '4') {
                // change product status
                to_store.disabled = true;
            } else if (action_id === '5') {
                // Etalage
                function callback_2(store_id) {
                    to_store.setSelected(store_id);
                    to_store.disabled = true;
                }

                getRawDataFromServer('get_picking_store_id', page.main_table, page.uuid, callback_2);
            }
        }
    });
    close_details_button.onclick = function (ev) {
        ev.preventDefault();
        ev.stopPropagation();
        hide_details_area(page, details_area)
    };
    show_details_button.onclick = function () {
        show_details_area(page, details_area)
    }
</script>