.autocomplete {
    position: relative;
}

.autocomplete-items {
    overflow-y: auto;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: max-content;
    width: -moz-max-content; /* Firefox/Gecko */
    height: 250px;
    background-color: white;

}

table, td, th {
    border: 1px solid #d2d2d2;
    border-collapse: collapse;
    cursor: pointer;
}

td {
    padding-left: 8px;
    padding-right: 8px
}

tr {
    height: 25px
}

th {
    background-color: #646464;
    color: white;
    padding-left: 8px;
    padding-right: 8px
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background: #e6e6e6
}

.table-enumeration {
    color: #5a5a5a;

}

tr.selected td {
    background-color: green;
    color: white;
}

.autocomplete-input {
    margin-bottom: 0;
}

td .fa-square {
    color: var(--action_buttons-background-color);
}
td .fa-check-square {
    color: var(--main-theme-color);
}






