table {
    white-space: nowrap
}

.notificationsTable {
    white-space: normal;
}

table, td, th {
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    cursor: pointer;
    font-weight: normal;
}

td {
    padding-left: 8px;
    padding-right: 8px
}

tr {
    height: 25px
}

th {
    background-color: #6e6e6e;
    color: #ebebeb;
    padding-left: 8px;
    padding-right: 8px
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

/*
tr:hover {
    background: #e6e6e6
}
*/

.table-enumeration {
    color: #5a5a5a;

}

tr.selected td {
    background-color: var(--main-theme-color);
    color: white;
}

tr.selected .fas {
    color: white;
}

.data-table td:last-child {
    width: 100%;
    border-left: hidden;
    padding: 0;
}

.data-table th:last-child {
    width: 100%;
    border-left: hidden;
    padding: 0;
}

.processing-first-line {
    width: 12px;
    height: 3px;
    background-color: #da3e00;
    position: relative;
    animation: update-first-line 1s infinite;
}

.processing-second-line {
    width: 12px;
    height: 3px;
    background-color: #11a020;
    position: relative;
    animation: update-second-line 1s infinite;
    bottom: 3px;
    left: 0px;
}

@keyframes update-first-line {
    0% {
        left: 0%;
    }
    60% {
        left: 20%;
    }
    90% {
        left: 40%;
    }
    100% {
        left: 100%;
    }

}

@keyframes update-second-line {
    0% {
        left: 0%;
    }
    60% {
        left: 10%;
    }
    90% {
        left: 30%;
    }
    100% {
        left: 100%;
    }
}

.details-data-table th, .details-data-table td {

    border-collapse: collapse;
    cursor: pointer;
    font-weight: normal;
}

.details-data-table table {
    margin-left: 15px;
    margin-right: 15px;
}

.details-data-table th {
    height: 30px;
    background-color: white;
    color: var(--default-text-color);
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px
}

.details-data-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.details-data-table tr:nth-child(even) {
    background-color: #ffffff;
}

.details-data-table tr.selected td {
    background-color: var(--main-theme-color);
    color: white;
}

.details-data-table tr.selected .fas {
    color: white;
}

.attachment_header{
    font-size: 13px;
}
td[attachment='true'] {
    color: #aaa67f;
    font-size: 13px;
}
td[attachment='true']:hover {
    color: var(--main-theme-color);

}

td .fa-square {
    color: var(--action_buttons-background-color);
}
td .fa-check-square {
    color: var(--main-theme-color);
}





