@font-face {
    font-family: 'C39';
    src: url('../../fonts/Free3of9.woff2') format('woff2'),
    url('../../fonts/Free3of9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyUbuntu';
    src: url('../../fonts/Ubuntu-Light.woff2') format('woff2'),
    url('../../fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: MyUbuntu, sans-serif;
    font-size: 16px;
}

body {
    font-family: MyUbuntu, sans-serif;
    font-size: 12px;
    width: 21cm;     /*19.7 !!*/
}

table, td, th {
    border: 1px solid #969696;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    padding: 3px;
}

.code_barre {
    font-family: C39, sans-serif;
    font-size: 50px;
    padding: 5px;
}