@font-face {
    font-family: local-OpenSans-Regular;
    src: url('../../fonts/OpenSans-Regular.ttf')
}

@font-face {
    font-family: local-OpenSans-Light;
    src: url('../../fonts/OpenSans-Light.ttf')
}

:root {
    --main-theme-color: teal; /*#197239;*/
    --secondary-theme-color: #00D8D8;
    --hover-background: #dcdcdc;
    --menu-background-color: #e6e6e6;
    --side-bar-background-color: #4b5358 /*#222d32*/;
    --action_buttons-background-color: #d7d7d7;
    --text-input-color: black;
    --default-text-color: #414141;
    --folder-color: orange; /*#f4c150;*/
    --file-color: teal;
}

body, html {
    height: 100%;
}


body {
    font-family: Arial, sans-serif;
    color: var(--default-text-color);
    font-size: 1em;
    font-weight: normal;
    background-color: var(--menu-background-color);
}

.login_form {
    background-color: var(--action_buttons-background-color);
}


h1 {
    font-size: 22px;
    padding-left: 15px;
    color: #646464;
}

h1 .fas {
    color: var(--main-theme-color);
    font-size: 24px;
    padding-right: 8px;
    padding-left: 8px;
}

label {
    color: #464646;
}

#main {
    height: calc(100% - 125px);
}

.menuLabel {
}

input {
    color: var(--text-input-color);
}

input:disabled, textarea:disabled {
    color: rgb(70, 70, 70);
    cursor: default;
    background-color: var(--menu-background-color);
}

.processing-area {
    position: absolute;
    width: 100%
}

#notification {
    margin-right: 30px;
    margin-top: 50px;
    z-index: 5;
}

#notificationsSidebar {
    width: 13cm;
}

#notificationsTable {
    width: 100%;
    font-size: 13px;
    color: var(--default-text-color);
}

#page_loading {
    visibility: hidden;
    z-index: 6;
    color: var(--side-bar-background-color);
}

.w3-sidebar {
    background-color: var(--menu-background-color) /*#var(--menu-background-color);*/;
    color: var(--default-text-color);
}

.quickMenu {
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    white-space: inherit;
    background-color: var(--side-bar-background-color);

}

.quickMenuText {
    color: #d2d2d2;
    line-height: 1em;
}

.quickMenuHeader {
    background-color: var(--main-theme-color);
    font-size: 14px;
    color: whitesmoke;
}

#menu_container {
    line-height: 1.2em;
}

#MainMenuContainer {
    width: 8.5cm;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-right: 30px;
    background-color: var(--action_buttons-background-color);
}

#quickMenuContainer {
    height: 100%;

}

.quickMenu .fas {
    color: var(--folder-color);
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.2em;
}

.w3-bar-item:focus {
    color: black;
}

#menu_search {
    margin-right: 3px;
    height: 32px;
    margin-top: 3px;
    padding-right: 5px;
}

.close-tab-x {
    padding: 0px 6px 0px 6px;
    margin-left: 15px;
    font-size: 13px;
    color: #969696;
}

.close-tab-x:hover {
    color: red;
    cursor: pointer;
}

.home-link {
    font-size: 25px;
}

#tabs-buttons {
    background-color: var(--side-bar-background-color);
    color: #c8c8c8;
}

#tabs-content, .tab-container {
    height: 100%;
}

.tab_page {
    height: 100%;
}

.selected-link {
    background-color: var(--menu-background-color);
    color: var(--default-text-color);
}

.tablink:not(.selected-link):hover {
    cursor: pointer;

}

.w3-bar .tablink {
    line-height: 1em;
    padding-right: 5px;
    height: 46px;
    border-right: solid 1px #646464;

}

.link-sub-title {
    font-size: 0.80em;

}

.w3-input {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 10px;
}

#login_body {

}

.top-Panel {
    width: 100%;
    line-height: 1.5em;
    background-color: var(--main-theme-color);
    color: #fff;
}

.top-Panel-compressed {
    width: calc(100% - 7cm);
    background-color: var(--main-theme-color);
    color: #fff;
}

.sidebar-title {

}

.logo-text {
    padding-left: 6px;
}

.action-buttons {
    background-color: var(--action_buttons-background-color);
    margin-top: 8px;
    margin-bottom: 8px;
}

.bottom-bar .clicked .fas {
    color: white;
}

.clicked {
    background-color: var(--main-theme-color);
}

.form-buttons {
    background-color: var(--menu-background-color);
    margin-bottom: 10px;
    margin-top: 25px;
}

.dilaog-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-buttons .w3-button .fas {
    color: var(--main-theme-color);
}

.form-buttons .fas {
    margin-right: 4px;
    color: var(--menu-background-color);
}

.form-buttons .w3-button {
    color: white;
    background-color: var(--main-theme-color);
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.w3-cell {
    margin-top: 0;
    padding-right: 5px;
}

.w3-cell-row {
    padding-top: 5px;
}

.table-buttons {
    margin-top: 30px;
}

label .fas {
    color: var(--main-theme-color);
    font-size: 12px;
}

.filter_input {
    margin-right: 3px;
    margin-top: 3px;
    padding: 0 16px !important;
}

.filter_area {
    background-color: var(--menu-background-color);
    margin-bottom: 10px;

}

.totals_area {
    background-color: var(--menu-background-color);
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.totals_area td {
    min-width: 200px;
    text-align: right;

}

.filter_area .w3-cell {
    padding: 5px;
    vertical-align: middle;
}

.filter_area .w3-button {
    color: white;
    background-color: var(--main-theme-color);
    margin-top: 8px;
    margin-left: 15px;

}

.filter_area .fas {
    font-size: 22px;
    color: orange;
    margin-top: 10px;
    margin-left: 5px;

}

.icon-warning {
    color: orange;
    margin-left: 10px;
    z-index: 2;
}

.local_validate_error input {
    background-color: #ffffc8;
}

.local_validate_error label::after {
    color: #b03100;
    content: ' (Erreur)';
}

.local_validate_error .fas {
    color: #b03100;
    margin-left: 15px;
    z-index: 2;

}

.actions select {
    border-radius: 0px;
}

.tab_page {
    height: 100%;
}


.w3-bar input {
    height: 32px;
}

.w3-bar select {
    height: 32px;
}

.file-link {
    margin-right: 10px;
    color: darkorange;
}


.long_processing {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none
}

input[type=hidden] {
    padding-right: 0;
    margin: 0;
}

.details_area {
    background-color: var(--action_buttons-background-color);
}

.parent_info_bar {
    background-color: var(--action_buttons-background-color);
    margin-bottom: -10px;
    border-collapse: unset;
}

.details_tab_link {
    background-color: var(--action_buttons-background-color);
}

.close-tab-x:hover {
    color: red;
}

.details_area .action-buttons {
    padding-top: 8px;
    margin-top: 0;
}
.details_area .filter_input {
    margin-top: 0;
}