 #cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        background: #aaa;
        z-index: 10;
        display: none;
    }

    #cover_message {
        padding: 25%;
        text-align: center;
        color: red;
        font-size: 15px;
    }
