.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
    margin-bottom: -3px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    margin-left: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
}

input:checked + .slider {
    background-color: var(--main-theme-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.switch-widget {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
