ol.tree {
    padding: 0 0 0 10px !important;

}

li {
    position: relative;
    list-style: none;
    user-select: none;
     -moz-user-select: none;
}

li.file a {
    text-decoration: none;
    display: block;
}

li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}

li input + ol {

    margin: -0.938em 0 0 -65px; /* 15px */
    height: 1em;
}

li input + ol > li {
    display: none;
}

li label {
    cursor: pointer;
    display: block;
}

li input:checked + ol {
    margin: -1.5em 0 0 -65px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}

li input:checked + ol > li {
    display: block;

}

li i {
    padding-right: 9px;
}

li .file i {
    color: #6e6e6e;
    width: 24px;
    font-size: 14px;
}
.quickMenuTextIcon {
    color: orange;
    padding: 0;
    margin-bottom: 0;
    font-size: 32px;
}
.file:hover{
    background: #cdcdcd;
}

