{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Statut de l'article N° {{ header.id }} </title>
    <link rel="stylesheet" href="{% static 'css/../../../static/locapro/css/Documents_print.css' %}">
</head>
<body>
<div id="content">
    <h1 align="center">Changement d'emplacement d'article N° {{ header.id }}</h1>


    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by }} <br> {{ header.created_by.get_full_name }}</td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>

            <td class="left-cell"><strong>Date d'effet du nouvel emplacement</strong></td>
            <td>{{ header.effect_date }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Article</strong></td>
            <td>{{ header.article.article.designation }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Type</strong></td>
            <td>{{ header.article.type }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Marque</strong></td>
            <td>{{ header.article.marque }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Numéro de série</strong></td>
            <td>{{ header.article.serial_number }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Code barre</strong></td>
            <td>{{ header.article.code_barre_id }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Valuer HT</strong></td>
            <td>{{ header.article.pu_ht }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Référence de l'acquisition</strong></td>
            <td>{{ header.article.invoice }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Nouvel emplacement</strong></td>
            <td>{{ header.mgx_emplacement }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Observations</strong></td>
            <td>{{ header.observation }}</td>
        </tr>
    </table>
    <br>
    {% if header.terminated %}
        <h1 align="center"> Statut terminé </h1>
        <table>
            <tr>
                <th>Terminé par</th>
                <th>Date et heure</th>
            </tr>
            <tr>
                <td>{{ header.terminated_by }} <br> {{ header.created_by.get_full_name }}</td>
                <td>{{ header.terminated_date }} </td>
            </tr>
        </table>
    {% endif %}
    <br>
    <br>

    <footer>
        <div align="right">Signature Responsable MGX</div>
    </footer>
</div>
</body>
</html>