{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Réforme des immobilisations N° {{ header.id }} </title>
    <link rel="stylesheet" href="{% static 'css/../../../static/locapro/css/Documents_print.css' %}">
</head>
<body>
<div id="content">
    <h1 align="center">Réforme des immobilisations N° {{ header.id }}</h1>


    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by }} <br> {{ header.created_by.get_full_name }}</td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>

            <td class="left-cell"><strong>Date de réforme</strong></td>
            <td>{{ header.operating_date }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Référence de la réforme</strong></td>
            <td>{{ header.reference }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Observation</strong></td>
            <td>{{ header.observation }}</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <th>Code</th>
        <th>Article</th>
        <th>Famille</th>
        <th>Code Barre</th>
        <th>Marque</th>
        <th>N° Série</th>
        <th>Type</th>
        <th>PU NET</th>
        <th>TVA</th>
        <th>PU TTC</th>
        {% for item in details %}
            <tr>
                <td>{{ item.investment.article.article_code }}</td>
                <td>{{ item.investment.article.designation }}</td>
                <td>{{ item.investment.article.category.designation }}</td>
                <td>{{ item.investment.type }}</td>
                <td>{{ item.investment.marque }}</td>
                <td>{{ item.investment.serial_number }}</td>
                <td>{{ item.investment.code_barre_id }}</td>
                <td align="right">{{ item.investment.pu_ht_net }}</td>
                <td align="right">{{ item.investment.tva.tva_rate }}%</td>
                <td align="right">{{ item.investment.pu_ttc }}</td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>

    <footer>
        <div align="right">Signature Directeur Général</div>
    </footer>
</div>
</body>
</html>