{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Réception des articles N° {{ header.id }} </title>
    <link rel="stylesheet" href="{% static 'css/../../../static/locapro/css/Documents_print.css' %}">
</head>
<body>
<div id="content">
    <h1 align="center">Réception des articles N° {{ header.id }}</h1>


    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by }} <br> {{ header.created_by.get_full_name }}</td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>

            <td class="left-cell"><strong>Date de réception</strong></td>
            <td>{{ header.operating_date }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Facture fournisseur</strong></td>
            <td>{{ header.invoice }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Observation</strong></td>
            <td>{{ header.observation }}</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <th>Code</th>
        <th>Article</th>
        <th>Famille</th>
        <th>Type</th>
        <th>Marque</th>
        <th>N° Série</th>
        <th>Code Barre</th>
        <th>PU HT</th>
        <th>Remise</th>
        <th>PU NET</th>
        <th>TVA</th>
        <th>PU TTC</th>
        {% for item in details %}
            <tr>
                <td>{{ item.article.article_code }}</td>
                <td>{{ item.article.designation }}</td>
                <td>{{ item.article.category.designation }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.marque }}</td>
                <td>{{ item.serial_number }}</td>
                <td>{{ item.code_barre_id }}</td>
                <td align="right">{{ item.pu_ht }}</td>
                <td align="right">{{ item.unit_discount_perc }}%</td>
                <td align="right">{{ item.pu_ht_net }}</td>
                <td align="right">{{ item.tva.tva_rate }}%</td>
                <td align="right">{{ item.pu_ttc }}</td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>

    <footer>
        <div align="right">Signature Responsable MGX</div>
    </footer>
</div>
</body>
</html>