{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Affectation vers filiale N° {{ header.id }} </title>
    <link rel="stylesheet" href="{% static 'css/../../../static/locapro/css/Documents_print.css' %}">
</head>
<body>
<div id="content">
    <h1 align="center">Affectation N° {{ header.id }} </h1>
    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by }} <br> {{ header.created_by.get_full_name }}</td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>

            <td class="left-cell"><strong>Date d'effet de l'affectation</strong></td>
            <td>{{ header.effect_date }}</td>
        </tr>
        <tr>
            <td><strong>Article</strong></td>
            <td>{{ header.article.article.designation }}</td>
        </tr>
        <tr>
            <td><strong>Type</strong></td>
            <td>{{ header.article.type }}</td>
        </tr>
        <tr>
            <td><strong>Marque</strong></td>
            <td>{{ header.article.marque }}</td>
        </tr>
        <tr>
            <td><strong>Numéro de série</strong></td>
            <td>{{ header.article.serial_number }}</td>
        </tr>
        <tr>
            <td><strong>Code barre</strong></td>
            <td>{{ header.article.code_barre_id }}</td>
        </tr>
        <tr>
            <td><strong>Valuer HT</strong></td>
            <td>{{ header.article.pu_ht }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Référence de l'acquisition</strong></td>
            <td>{{ header.article.invoice }}</td>
        </tr>
        <tr>
            <td><strong>Affectation vers filiale </strong></td>
            <td>{{ header.affiliate }}</td>
        </tr>
        <tr>
            <td><strong>Observations</strong></td>
            <td>{{ header.observation }}</td>
        </tr>
    </table>
    <br>
    <p>
        <strong>NB: </strong>Cette affectation n'est pas une cession de l'article, l'article est affecté
        à titre de prêt uniquement.
    </p>
    <br>
    {% if header.terminated %}
        <h1 align="center"> Article restitué </h1>
        <table>
            <tr>
                <th>Restitution créee par</th>
                <th>Date et heure de restitution</th>
            </tr>
            <tr>
                <td>{{ header.terminated_by }} <br> {{ header.created_by.get_full_name }}</td>
                <td>{{ header.terminated_date }} </td>
            </tr>
        </table>
    {% endif %}
    <br>
    <br>
    <br>
    <footer>
        <table>
            <tr>
                <th style="width: 50%">Signature bénificiaire</th>
                <th>Signature Responsable MGX</th>
            </tr>
            <tr>
                <td>{{ header.affiliate }}<br><br><br><br></td>
                <td></td>
            </tr>
        </table>
    </footer>
</div>
</body>
</html>