{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cession des immobilisations N°{{ header.id }} </title>

    <style>
        @font-face {
            font-family: 'C39';
            src: url('{% static 'fonts/c39m3-webfont.woff2' %}') format('woff2'),
            url('{% static 'fonts/c39m3-webfont.woff' %}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: MyUbuntu;
            src: url('{% static 'fonts/Ubuntu-L.ttf'%}')
        }

        h1 {
            font-family: MyUbuntu, sans-serif;
            font-size: 16px;
        }

        body {
            font-family: MyUbuntu, sans-serif;
            font-size: 13px;
            width: 29.7cm;
            height: 21cm;
        }

        table, td, th {
            border: 1px solid;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 25px;
        }

        td {
            padding: 5px;
            font-size: 13px;
        }

        .code_barre {
            font-family: C39;
            font-size: 30px;
            padding: 5px
        }

        .left-cell {
            width: 33%;
        }

    </style>
</head>
<body>
<div id="content">
    <h1 align="center">Cession des immobilisations N°{{ header.id }}</h1>


    <table>
        <tr>
            <th>Créer par</th>
            <th>Date et heure de saisie</th>
            <th>Identifiant</th>
        </tr>
        <tr>
            <td>{{ header.created_by }} <br> {{ header.created_by.get_full_name }}</td>
            <td>{{ header.created_date }} </td>
            <td class="code_barre" align="center">*{{ header.id }}*</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>

            <td class="left-cell"><strong>Date de cession</strong></td>
            <td>{{ header.operating_date }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Cession vers filiale</strong></td>
            <td>{{ header.affiliate.filiale }}</td>
        </tr>
        <tr>
            <td class="left-cell"><strong>Observation</strong></td>
            <td>{{ header.observation }}</td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <th>Code</th>
        <th>Article</th>
        <th>Famille</th>
        <th>Code Barre</th>
        <th>Marque</th>
        <th>N° Série</th>
        <th>Type</th>
        <th>PU NET</th>
        <th>TVA</th>
        <th>PU TTC</th>
        {% for item in details %}
            <tr>
                <td>{{ item.investment.article.article_code }}</td>
                <td>{{ item.investment.article.designation }}</td>
                <td>{{ item.investment.article.category.designation }}</td>
                <td>{{ item.investment.type }}</td>
                <td>{{ item.investment.marque }}</td>
                <td>{{ item.investment.serial_number }}</td>
                <td>{{ item.investment.code_barre_id }}</td>
                <td align="right">{{ item.investment.pu_ht_net }}</td>
                <td align="right">{{ item.investment.tva.tva_rate }}%</td>
                <td align="right">{{ item.investment.pu_ttc }}</td>

            </tr>
        {% endfor %}
    </table>
<br>
<br>
<br>

    <footer>
        <div align="right">Signature Directeur Général</div>
    </footer>
</div>
</body>
</html>