{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>LOCAPRO 6</title>
    <link rel="icon" type="image/png" href="{% static '/flavicon/flavicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome5/css/all.min.css' %}?{{ version }}">
    <link rel="stylesheet" href="{% static 'locapro/css/Locapro.css' %}?{{ version }}">
    <link rel="stylesheet" href="{% static 'locapro/css/ComboDataGrid.css' %}?{{ version }}">
    <link rel="stylesheet" href="{% static 'locapro/css/DataGrid.css' %}?{{ version }}">
    <link rel="stylesheet" href="{% static 'locapro/css/Tree.css' %}?{{ version }}">
    <link rel="stylesheet" href="{% static 'locapro/css/switch_input.css' %}?{{ version }}">

    <script type="application/javascript" src="{% static 'locapro/js/DateTimeFunctions.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/Tabs.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/ComboDataGrid.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/DataGrid.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/Dialog.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/Processing.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/ActionButtons.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/RawData.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/Filters.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/Forms.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/Crud.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/TreeMenuEvents.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/BuildPage.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/GetUuid.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/DragAndDrop.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/Notification.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/MainMenu.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'js/momentjs/moment.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'js/accountjs/account.min.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/MainFunctions.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/DragElement.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/BuildConfirmationDialog.js' %}?{{ version }}"></script>
    <script type="application/javascript" src="{% static 'locapro/js/MasterDetailsFunctions.js' %}?{{ version }}"></script>
</head>
<body>
<div id="notificationsSidebar" class="w3-sidebar w3-container w3-card"
     style="display: none; right: 0">
    <div class="w3-bar l-text-color-1">
        <div class="w3-bar-item"><h5>Historiques des notifications</h5></div>
        <span onclick="notifications_close()" class="w3-button w3-large w3-bar-item w3-right"
        >&times;</span>
    </div>
    <table id="notificationsTable" class="notificationsTable">
        <thead>
        <th>Type</th>
        <th>Message</th>
        <th>Date et Heure</th>
        </thead>
    </table>
</div>
<div id="top-Panel" class="w3-bar w3-large top-Panel">
    <div id="logo" class="w3-bar-item w3-left">
        <i class="fas fa-coffee" aria-hidden="true"></i>
        <span class="logo-text">LOCAPRO 6</span>
    </div>
    <a class="w3-bar-item w3-button w3-right" href="{% url "logout" %}" title="Quitter l'application">
        <i class="fas fa-power-off"></i>
    </a>
    {% if user.is_active and user.is_staff %}
        <a href="/admin/" class="w3-bar-item w3-button w3-right" title="Paramètrage de l'application"><i
                class="fas fa-cogs"></i></a>{% endif %}
    <a class="w3-bar-item w3-button w3-right" title="Voir l'historique des notifications"
       onclick="notifications_open()">
        <i class="fas fa-bell"></i></a>
    <span class="w3-bar-item w3-right" title="l'utilisateur en cours">{{ user }}</span>
</div>
<div id="main" class="main_page">
    <div id="tabs-buttons" class="w3-bar">
          <span id="link0" class="w3-bar-item selected-link tablink " onclick="openTab(0)">
              <span class="link-text">
                  <i class="fas fa-home home-link w3-left"></i>
              </span>
              <span style="padding-right: 12px"></span>
          </span>
    </div>
    <div id="notification" class="w3-display-bottomright"></div>
    <div id="page_loading" class="w3-display-middle">
        <i class="fas fa-spinner fa-spin fa-2x"></i>
        <span class="sr-only">Loading...</span></div>
    <div id="tabs-content">
        <div id="tab0" class="w3-panel tab-container">

            <div id="MainMenuContainer"
                 ondrop="deleteQuickMenu(event, '{{ user.id }}', '{{ csrf_token }}')"
                 ondragover="allowDrop(event)">
                <div class="w3-bar action-buttons menu_search_bar">
                    <input id="menu_search" placeholder="Rechercher..." class="w3-bar-item w3-input">
                    <div class="w3-button w3-bar-item"><i class="fas fa-filter"></i></div>
                </div>
                <div id="menu_container"></div>
            </div>
            <div id="quickMenuContainer" ondrop="drop(event, '{{ user.id }}', '{{ csrf_token }}')"
                 ondragover="allowDrop(event)">
            </div>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        moment.locale('fr');
        accounting.settings = {
            currency: {
                symbol: "",   // default currency symbol is '$'
                format: "%v %s", // controls output: %s = symbol, %v = value/number (can be object: see below)
                decimal: ".",  // decimal point separator
                thousand: " ",  // thousands separator
                precision: 2   // decimal places
            },
            number: {
                precision: 2,  // default precision on numbers is 0
                thousand: " ",
                decimal: "."
            }
        };
        getMenuData();
        refreshQuickMenu('{{ user.id }}');
        document.getElementById('menu_search').focus();
    }
</script>
</html>