<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="actions_area_{{ uuid }}" class="action-buttons"></div>
<div class="filter_area">
        <span class="w3-cell" title="Insérer le numéro du document à confirmer">
            <label for="confirmation_input_{{ uuid }}">N° Document</label>
            <input id="confirmation_input_{{ uuid }}" class="w3-input w3-border">
        </span>
    <span class="w3-cell" title="Confirmer le document">
        <button title="Confirmer le document" class=" w3-button"
                id="confirmation_button_{{ uuid }}"><i class=""></i>Confirmer
        </button></span>
</div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="main_table_{{ uuid }}"></div>
<div id="child_table_buttons_{{ uuid }}"></div>
<div id="child_filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="child_table_{{ uuid }}"></div>
<div id="confirmation_dialog_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 600px">
        <div class="w3-bar top-Panel">
            <span id="confirmation_dialog_title_{{ uuid }}" class="w3-bar-item">Ajouter des Exécutants</span>
        </div>
        <div id="add_executors_form_{{ uuid }}" class="w3-panel"></div>
        <div id="executors_table_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>

<script type="text/javascript">
    var uuid = '{{ uuid }}';

    // Main table
    var main_table = document.getElementById('main_table_' + uuid);
    main_table.url = '/wms/list_of_external_transfer/';
    main_table.uuid = uuid;
    main_table.parent_id = '';
    main_table.fixed_filter = JSON.stringify({"{{ document_status_field }}": "{{ unconfirmed_document_status_id }}"});
    main_table._heigh = '27%';
    DataTable(main_table);
    main_table.addEventListener('click', function (ev) {
        document.getElementById('child_refresh_button_' + uuid).click()
    });

    // filter area for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'filter_from_date_' + uuid,
                'text': 'Du',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  à partir de cette date',
                'events': null
            },
            {
                'id': 'filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],

        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.from_date = document.getElementById('filter_from_date_' + uuid).value;
                            main_table.to_date = document.getElementById('filter_to_date_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                            child_table.parent_id = -1
                            child_table.refresh()
                        }
                    }]

            },


        ]
    };
    filter_area.uuid = uuid;
    BuildFilterTable(filter_area);

    // Action's buttons for main table
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [

        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        main_table.refresh();
                        child_table.parent_id = -1;
                        child_table.refresh()
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
        {
            'id': 'print_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-print',
            'tooltip': 'Imprimer le document séléctionné',
            'events': [
                {
                    'click': function () {
                        var parent_id = main_table.selectedPk;
                        window.open('/wms/print_external_transfer_order/?parent_id=' + parent_id);
                    }
                }]
        },
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);

    var child_table = document.getElementById('child_table_' + uuid);
    child_table.url = '/wms/list_of_external_transfer_details/';
    child_table.uuid = uuid;
    child_table.parent_id = -1;
    child_table._heigh = '50%';
    DataTable(child_table);

    // filter area for child table
    var child_filter_area = document.getElementById('child_filter_area_' + uuid);
    child_filter_area.settings = {
        'inputs': [
            {
                'id': 'child_filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'child_filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('child_apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
        ],
        'buttons': [
            {
                'id': 'child_apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            child_table.q = document.getElementById('child_filter_q_' + uuid).value;
                            child_table.field = document.getElementById('child_filter_field_' + uuid).value;
                            child_table.refresh();
                            child_filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]
            },
        ]
    };
    child_filter_area.uuid = uuid;
    BuildFilterTable(child_filter_area);

    // Action's buttons for child table
    var child_table_buttons_container = document.getElementById('child_table_buttons_' + uuid);
    child_table_buttons_container.settings = [

        {
            'id': 'child_refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        if (main_table.selectedPk) {
                            child_table.parent_id = main_table.selectedPk
                        } else {
                            child_table.parent_id = -1
                        }
                        child_table.refresh();
                    }
                }]
        },
        {
            'id': 'child_filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < child_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + child_table.table_data.columns_data[h]['name'] + '">' +
                                child_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('child_filter_field_' + uuid).innerHTML = _html;
                        child_filter_area.show()
                    }
                }]
        },
    ];
    child_table_buttons_container.uuid = uuid;
    BuildActionButtons(child_table_buttons_container);

    // Add executors form
    var add_executors_form = document.getElementById('add_executors_form_' + uuid);
    add_executors_form.uuid = uuid;
    add_executors_form.settings = {
        'url': '/wms/external_transfer_confirmation/',
        'action': 'validate_transaction',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            [{
                'id': 'document_id_{{ uuid }}',
                'name': 'document_id',
                'text': 'N° Document',
                'type': 'text',
                'url': null,
                'tooltip': '',
                'required': false,
                'events': []
            },
                {
                    'id': 'employee_code_{{ uuid }}',
                    'name': "employee_code",
                    'text': 'Code RH',
                    'type': 'text',
                    'url': null,
                    'tooltip': 'Le code ou l\'immatriculation RH de l\'employé qui a exécuté la transaction',
                    'required': false,
                    'events': [{
                        'keydown': function (ev) {
                            if (ev.keyCode === 13 && !ev.ctrlKey) {
                                function callback() {
                                    executor_table.refresh();
                                    ev.target.value = '';
                                }

                                ev.preventDefault();
                                ev.stopPropagation();
                                post_custom_data(
                                    'add_executor',
                                    uuid,
                                    '/wms/external_transfer_confirmation/',
                                    main_table,
                                    '{{ csrf_token }}',
                                    {
                                        'transaction_id': document.getElementById('document_id_' + uuid).value,
                                        'employee_rh_code': this.value
                                    },
                                    callback)
                            }
                            if (ev.keyCode === 13 && ev.ctrlKey) {
                                ev.preventDefault();
                                ev.stopPropagation();
                                document.getElementById('validate_button_' + uuid).click()
                            }
                        }
                    }]
                }],
            {
                'id': 'pre_executors_table_{{ uuid }}',
                'name': "pre_executors_table_",
                'text': 'Liste des Exécutants',
                'type': 'text',
                'url': null,
                'tooltip': 'La liste des employés qui ont exécuté la transaction',
                'required': false,
                'events': []
            }

        ],
        'buttons': [
            {
                'id': 'close_button_{{ uuid }}',
                'text': 'Fermer',
                'icon_class': '',
                'tooltip': 'Fermer le dialogue',
                'events': [
                    {
                        'click': function () {
                            closeDialog(confirmation_dialog)
                        }
                    }]
            },
            {
                'id': 'validate_button_{{ uuid }}',
                'text': 'Valider',
                'icon_class': '',
                'tooltip': 'Enregistrer les informations saisies',
                'events': [
                    {
                        'click': function () {
                            function callback() {
                                executor_table.refresh();
                                main_table.refresh();
                                child_table.parent_id = '-1';
                                child_table.refresh();
                                confirmation_input.value = '';
                                confirmation_input.focus();
                                closeDialog(confirmation_dialog)


                            }

                            add_executors_form.post_data(callback);
                        }
                    }]
            }

        ]
    };
    BuildForm(add_executors_form);

    // Confirmation

    var confirmation_dialog = document.getElementById('confirmation_dialog_' + uuid);
    var confirmation_input = document.getElementById('confirmation_input_' + uuid);
    var confirmation_button = document.getElementById('confirmation_button_' + uuid);

    confirmation_input.addEventListener('keydown', function (ev) {
        if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.stopPropagation();
            confirmation_button.click();
        }
        else if (ev.keyCode === 13) {
            ev.preventDefault();
            ev.stopPropagation();
            confirmation_button.click();

        }
    });
    confirmation_button.addEventListener('click', function (ev) {
        function callback() {
            openDialog(confirmation_dialog);
            var document_id = document.getElementById('document_id_' + uuid);
            document.getElementById('employee_code_' + uuid).focus();
            document_id.value = confirmation_input.value;
            document_id.disabled = true;
            executor_table.fixed_filter = JSON.stringify({'object_id': confirmation_input.value});
            executor_table.refresh();
        }

        post_custom_data(
            'check_transaction_status',
            uuid,
            '/wms/external_transfer_confirmation/',
            main_table,
            '{{ csrf_token }}',
            {'transaction_id': confirmation_input.value},
            callback
        )
    });

    // Executors table

    var pre_executors_table = document.getElementById('pre_executors_table_' + uuid);
    var executor_table = document.createElement('div');
    executor_table.id = 'executors_table_' + uuid;
    pre_executors_table.parentNode.replaceChild(executor_table, pre_executors_table);
    executor_table.url = '/wms/list_of_temporary_executors_for_external_transfer/';
    executor_table.uuid = uuid;
    executor_table._heigh = '35%';
    DataTable(executor_table);
</script>