<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="main_buttons_{{ uuid }}"></div>
<div id="main_form_{{ uuid }}" style="width: 350px"></div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div id="vouchers_table_{{ uuid }}"></div>
<div id="dialog_add_line_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span id="dialog_add_line_title_{{ uuid }}" class="w3-bar-item">Ajouter des produits</span>
        </div>
        <div id="add_new_record_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<script type="text/javascript">

    var uuid = '{{ uuid }}';

    // Main form Action buttons
    var main_buttons_container = document.getElementById('main_buttons_' + uuid);
    main_buttons_container.settings = [
        {
            'id': 'create_header_button_' + uuid,
            'text': 'Créer',
            'icon_class': 'fa fa-plus',
            'tooltip': 'Créer l\'entête du document',
            'events': [{
                'click': function () {
                    function callback() {
                        document.getElementById('add_lines_button_' + uuid).click();
                        main_form.disable();
                        add_new_record_form.enable();
                    }

                    main_form.post_data(callback)


                }
            }]
        },
        {
            'id': 'save_button_' + uuid,
            'text': 'Enregistrer',
            'icon_class': 'fa fa-save',
            'tooltip': 'Enregistrer le document con cours',
            'events': [
                {
                    'click': function () {
                        function callback(new_id) {
                            window.open('/wms/print_external_transfer_order/?parent_id=' + new_id);
                            main_form.clear();
                            add_new_record_form.clear();
                            add_new_record_form.disable();
                            main_table.refresh();
                        }

                        commit('{{ uuid }}', '/wms/external_transfer_transactions/',
                            main_table, '{{ csrf_token }}', callback)
                    }
                }]
        },
        {
            'id': 'cancel_button_' + uuid,
            'text': 'Annuler',
            'icon_class': 'fa fa-trash',
            'tooltip': 'Annuler le document con cours',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_form.clear();
                            add_new_record_form.clear();
                            add_new_record_form.disable();
                            main_table.refresh();
                        }

                        cancel('{{ uuid }}', '/wms/external_transfer_transactions/',
                            main_table, '{{ csrf_token }}', callback)
                    }
                }]
        }
    ];
    BuildActionButtons(main_buttons_container);

    // Add and edit dialogs
    var add_lines_dialog = document.getElementById('dialog_add_line_' + uuid);

    // Main form (Document's header)
    var main_form = document.getElementById('main_form_' + uuid);
    main_form.settings = {
        'url': '/wms/external_transfer_transactions/',
        'action': 'create_parent',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'from_company_id_{{ uuid }}',
                'name': "from_company_id",
                'text': 'Depuis Filiale',
                'type': 'autocomplete',
                'url': '/common/list_of_companies/',
                'tooltip': 'La filale de départ, ou se trouvent les produits à transferer',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        main_form.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'to_company_id_{{ uuid }}',
                'name': "to_company_id",
                'text': 'Vers Filiale',
                'type': 'autocomplete',
                'url': '/common/list_of_companies/',
                'tooltip': 'La filiale destinataire du transfert',
                'required': false,
                'events': [{
                    'keyup': function (e) {
                        main_form.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'observation_{{uuid}}',
                'name': "observation",
                'text': 'Observation',
                'type': 'text',
                'url': null,
                'tooltip': 'Observations sur le mouvement',
                'required': false,
                'events': [
                    {
                        'keyup': function (e) {
                            function callback() {
                                document.getElementById('create_header_button_' + uuid).click()
                            }

                            main_form.focusNextInput(e, callback)
                        }
                    }]
            }

        ],
        'buttons': null
    };
    main_form.uuid = uuid;
    main_form.parent_id = uuid;
    BuildForm(main_form);


    // Main table
    var main_table = document.getElementById('vouchers_table_' + uuid);
    main_table.url = '/wms/list_of_external_transfer_details_tempo/';
    main_table.uuid = uuid;
    main_table.parent_id = '{{ uuid }}';
    DataTable(main_table);


    // Add new line form
    var add_new_record_form = document.getElementById('add_new_record_form_' + uuid);
    add_new_record_form.uuid = uuid;
    add_new_record_form.parent_id = uuid;
    add_new_record_form.settings = {
        'url': '/wms/external_transfer_transactions/',
        'action': 'add_line',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'product_id_{{ uuid }}',
                'name': 'product_id',
                'text': 'Article',
                'type': 'autocomplete',
                'url': '/wms/list_of_product_combo/',
                'tooltip': 'Choisissez un produit',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }, {
                    'focus': function (e) {
                        var inventory_input = document.getElementById('inventory_id_' + uuid);
                        inventory_input.value = '';
                        inventory_input.selectedPk = null;
                    }
                }
                ]
            },
            {
                'id': 'inventory_id_{{ uuid }}',
                'name': 'inventory_id',
                'text': 'N° Lot / Emplacement',
                'type': 'autocomplete',
                'url': '/wms/inventory_for_transfer/',
                'tooltip': 'Choisissez le lot et l\'emplacement',
                'required': true,
                'events': [
                    {
                        'keyup': function (e) {
                            add_new_record_form.focusNextInput(e);
                        }
                    },
                    {
                        'focus': function (e) {
                            var product_id = document.getElementById('product_id_' + uuid);
                            var inventory_input = document.getElementById('inventory_id_' + uuid);
                            inventory_input.fixed_filter = JSON.stringify({batch__product_id: product_id.selectedPk || '0'});

                        }
                    }
                ]
            },
            {
                'id': 'quantity_{{ uuid }}',
                'name': 'quantity',
                'text': 'Quantité',
                'type': 'number',
                'url': null,
                'tooltip': 'Nombre de boites reçus',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        function callback() {
                            document.getElementById('add_button_' + uuid).click()
                        }

                        add_new_record_form.focusNextInput(e, callback)
                    }
                }]
            }
        ],
        'buttons': [
            {
                'id': 'close_button_{{ uuid }}',
                'text': 'Fermer',
                'icon_class': '',
                'tooltip': 'Fermer le dialogue',
                'events': [
                    {
                        'click': function () {
                            document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                        }
                    }]
            },
            {
                'id': 'add_button_{{ uuid }}',
                'text': 'Ajouter',
                'icon_class': '',
                'tooltip': 'Enregistrer les informations saisies',
                'events': [
                    {
                        'click': function () {
                            function callback() {
                                add_new_record_form.clear();
                                main_table.refresh();
                            }

                            add_new_record_form.post_data(callback);
                        }
                    }]
            }

        ]
    };
    BuildForm(add_new_record_form);
    add_new_record_form.disable();


    // Action's buttons for main table
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [
        {
            'id': 'add_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-plus',
            'tooltip': 'Ajouter une ligne',
            'events': [
                {
                    'click': function () {
                        openDialog(add_lines_dialog)
                    }
                }]
        },
        {
            'id': 'delete_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-minus',
            'tooltip': 'Supprimer la ligne séléctionnée',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_table.refresh();
                        }

                        delete_line(uuid, main_table.selectedPk,
                            '/wms/external_transfer_transactions/', main_table,
                            '{{ csrf_token }}', callback)
                    }
                }]
        },
        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        main_table.refresh();
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);


    // Filter for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
        ],

        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]

            },


        ]
    };
    filter_area.uuid = uuid;
    BuildFilterTable(filter_area);
</script>