{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data mapping</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome5/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'locapro/css/Locapro.css' %}">
</head>
<body>
<div class="w3-bar w3-large top-Panel"><span class="w3-bar-item">Séléctionner les fichiers</span></div>
{% if error_msg %}
    <div class="w3-bar w3-orange w3-padding-small">
        <span class="w3-bar-item">{{ error_msg }}</span>
    </div>
{% endif %}
<form method="post" enctype="multipart/form-data" class="w3-panel">
    {% csrf_token %}
    <input type="file" name="files" multiple class="w3-input w3-border" required>
    <button type="submit" class="w3-button w3-teal w3-right" title="Télécharger"><i class="fa fa-upload"></i>
    </button>
</form>

</body>
<script>
    {% if uploaded %}
        window.close();
    {% endif %}
</script>
</html>