<div id="current_page_{{ uuid }}"></div>
<div class="processing-area">
    <div id="processing-cover_{{ uuid }}" class="w3-modal"></div>
    <div id="processing-first-line_{{ uuid }}"></div>
    <div id="processing-second-line_{{ uuid }}"></div>
</div>
<div id="main_buttons_{{ uuid }}"></div>
<div class="section-1">

    <div id="main_form_{{ uuid }}" style="width: 350px"></div>
</div>
<div id="main_table_buttons_{{ uuid }}"></div>
<div id="filter_area_{{ uuid }}" class="w3-hide"></div>
<div class="section-2">

    <table id="vouchers_table_{{ uuid }}"></table>
</div>
<div id="dialog_add_line_{{ uuid }}" class="w3-modal">
    <div class="w3-modal-content" style="width: 450px">
        <div class="w3-bar top-Panel">
            <span class="w3-bar-item">Ajouter une série de Bons</span>
        </div>
        <div id="add_new_record_form_{{ uuid }}" class="w3-panel"></div>
    </div>
</div>
<script type="text/javascript">

    var uuid = '{{ uuid }}';

    // Main form Action buttons
    var main_buttons_container = document.getElementById('main_buttons_' + uuid);
    main_buttons_container.settings = [
        {
            'id': 'create_header_button_' + uuid,
            'text': 'Créer',
            'icon_class': 'fa fa-plus',
            'tooltip': 'Créer l\'entête du document',
            'events': [{
                'click': function () {
                    function callback() {
                        document.getElementById('add_lines_button_' + uuid).click();
                        main_form_container.disable();
                        add_new_record_form.clear();
                    }

                    document.getElementById('main_form_' + uuid).post_data(callback)


                }
            }]
        },
        {
            'id': 'save_button_' + uuid,
            'text': 'Enregistrer',
            'icon_class': 'fa fa-save',
            'tooltip': 'Enregistrer le document con cours',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_form_container.clear();
                            main_table.refresh();
                        }

                        commit('{{ uuid }}', '/parc_roulant/achat_bons_carburant_transactions/',
                            main_table, '{{ csrf_token }}', callback)
                    }
                }]
        },
        {
            'id': 'cancel_button_' + uuid,
            'text': 'Annuler',
            'icon_class': 'fa fa-trash',
            'tooltip': 'Annuler le document con cours',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_form_container.clear();
                            main_table.refresh();
                        }

                        cancel('{{ uuid }}', '/parc_roulant/achat_bons_carburant_transactions/',
                            main_table, '{{ csrf_token }}', callback)
                    }
                }]

        }
    ];
    BuildActionButtons(main_buttons_container);

    // Main form (Document's header)
    var main_form_container = document.getElementById('main_form_' + uuid);
    main_form_container.settings = {
        'url': '/parc_roulant/achat_bons_carburant_transactions/',
        'action': 'create_parent',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'fournisseur_{{ uuid }}',
                'name': "fournisseur",
                'text': 'Fournisseur',
                'type': 'autocomplete',
                'url': '/common/list_of_supplyers/',
                'tooltip': 'Le fournisseur des bons, exemple: Naftal.',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        main_form_container.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'n_facture_{{ uuid }}',
                'name': "n_facture",
                'text': 'N° de facture',
                'type': 'text',
                'url': null,
                'tooltip': 'Le numéro de la facture fournisseur. Exemple :654/2018',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        main_form_container.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'date_facture_{{ uuid }}',
                'name': "date_facture",
                'text': 'Date facture',
                'type': 'date',
                'url': null,
                'tooltip': 'La date de la facture fournisseur. Exemple :25/07/2018',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        main_form_container.focusNextInput(e)
                    }
                }]
            },
            {
                'id': 'montant_ht_{{uuid}}',
                'name': "montant_ht",
                'text': 'Montant HT',
                'type': 'text',
                'url': null,
                'tooltip': 'Le monatnt hors taxes de la facture. Exemple: 20000.00',
                'required': true,
                'events': [{
                    'blur': function () {
                        this.value = accounting.formatNumber(this.value);
                    }
                },
                    {
                        'keyup': function (e) {
                            main_form_container.focusNextInput(e)
                        }
                    }]
            },
            {
                'id': 'montant_TTC_{{uuid}}',
                'name': "montant_ttc",
                'text': 'Montant TTC',
                'type': 'text',
                'url': null,
                'tooltip': 'Le monatnt avec toutes les taxes comprises de la facture. Exemple: 22000.00',
                'required': true,
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatNumber(this.value);
                        }
                    },
                    {
                        'keyup': function (e) {
                            function callback() {
                                document.getElementById('create_header_button_' + uuid).click()
                            }

                            main_form_container.focusNextInput(e, callback)
                        }
                    }]
            }
        ],
        'buttons': null
    };
    main_form_container.uuid = uuid;
    BuildForm(main_form_container);

    // Add new line form
    var add_new_record_form = document.getElementById('add_new_record_form_' + uuid);
    add_new_record_form.settings = {
        'url': '/parc_roulant/achat_bons_carburant_transactions/',
        'action': 'add_vouchers',
        'csrf': '{{ csrf_token }}',
        'inputs': [
            {
                'id': 'first_voucher_num_{{ uuid }}',
                'name': 'first_num',
                'text': 'Premier numéro',
                'type': 'text',
                'url': null,
                'tooltip': 'Le premier numéro de la série des bons',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'last_voucher_num_{{ uuid }}',
                'name': 'last_num',
                'text': 'Dernier numéro',
                'type': 'text',
                'url': null,
                'tooltip': 'Le dernier numéro de la série des bons',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        add_new_record_form.focusNextInput(e);
                    }
                }]
            },
            {
                'id': 'voucher_value_{{ uuid }}',
                'name': 'voucher_value',
                'text': 'Valeur par bon',
                'type': 'text',
                'url': null,
                'tooltip': 'La valeur du bon',
                'required': true,
                'events': [{
                    'keyup': function (e) {
                        function callback() {
                            document.getElementById('add_button_' + uuid).click()
                        }

                        add_new_record_form.focusNextInput(e, callback);
                    }
                }]
            }],
        'buttons': [
            {
                'id': 'close_button_{{ uuid }}',
                'text': 'Fermer',
                'icon_class': '',
                'tooltip': 'Fermer le dialogue',
                'events': [
                    {
                        'click': function () {
                            document.getElementById('dialog_add_line_' + uuid).style.display = 'none'
                        }
                    }]
            },
            {
                'id': 'add_button_{{ uuid }}',
                'text': 'Ajouter',
                'icon_class': '',
                'tooltip': 'Enregistrer les informations saisies',
                'events': [
                    {
                        'blur': function () {
                            this.value = accounting.formatNumber(this.value);
                        }
                    },
                    {
                        'click': function () {
                            function callback() {
                                add_new_record_form.clear();
                                main_table.refresh()
                            }
                            add_new_record_form.post_data(callback);
                        }
                    }]
            }
        ]
    };
    add_new_record_form.uuid = uuid;
    BuildForm(add_new_record_form);
    add_new_record_form.disable();

    // Main table
    var main_table = document.getElementById('vouchers_table_' + uuid);
    main_table.url = '/parc_roulant/details_achat_bon_tempo_grouped_list/';
    main_table.uuid = uuid;
    main_table.parent_id = '{{ uuid }}';
    DataTable(main_table);

    // Action's buttons for main table
    var add_lines_dialog = document.getElementById('dialog_add_line_' + uuid);
    var main_table_buttons_container = document.getElementById('main_table_buttons_' + uuid);
    main_table_buttons_container.settings = [
        {
            'id': 'add_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-plus',
            'tooltip': 'Ajouter une ligne',
            'events': [
                {
                    'click': function () {
                        openDialog(add_lines_dialog)
                    }
                }]
        },
        {
            'id': 'delete_lines_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-minus',
            'tooltip': 'Supprimer la ligne séléctionnée',
            'events': [
                {
                    'click': function () {
                        function callback() {
                            main_table.refresh()
                        }
                        delete_line(uuid, main_table.selectedPk,
                            '/parc_roulant/achat_bons_carburant_transactions/', main_table,
                            '{{ csrf_token }}', callback)
                    }
                }]
        },
        {
            'id': 'refresh_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-refresh',
            'tooltip': 'Actualiser les données',
            'events': [
                {
                    'click': function () {
                        main_table.refresh();
                    }
                }]
        },
        {
            'id': 'filter_button_' + uuid,
            'text': '',
            'icon_class': 'fa fa-filter',
            'tooltip': 'Afficher / Masquer le Filtre',
            'events': [
                {
                    'click': function () {        // a standardiser
                        var _html = '<option value="">Toutes</option>';
                        for (var h = 0; h < main_table.table_data.columns_data.length; h++) {
                            _html += '<option value="' + main_table.table_data.columns_data[h]['name'] + '">' +
                                main_table.table_data.columns_data[h]['text'] + '</option>'
                        }
                        document.getElementById('filter_field_' + uuid).innerHTML = _html;
                        filter_area.show()
                    }
                }]
        },
    ];
    main_table_buttons_container.uuid = uuid;
    BuildActionButtons(main_table_buttons_container);


    // Filter for main table
    var filter_area = document.getElementById('filter_area_' + uuid);
    filter_area.settings = {
        'inputs': [
            {
                'id': 'filter_field_' + uuid,
                'text': 'Colonne',
                'type': 'select',
                'url': null,
                'tooltip': 'Le champ de recherche de la table',
                'events': null
            },
            {
                'id': 'filter_q_' + uuid,
                'text': 'Mots clés',
                'type': 'text',
                'url': null,
                'tooltip': 'Mots clés pour la recherche',
                'events': [
                    {
                        'keydown': function f(e) {
                            if (e.keyCode === 13) {
                                document.getElementById('apply_filtre_button_' + uuid).click()
                            }
                        }
                    }
                ]
            },
            {
                'id': 'filter_from_date_' + uuid,
                'text': 'Du',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  à partir de cette date',
                'events': null
            },
            {
                'id': 'filter_to_date_' + uuid,
                'text': 'Au',
                'type': 'date',
                'url': null,
                'tooltip': 'Filtrer les données  jusqu\'à de cette date',
                'events': null
            }],

        'buttons': [
            {
                'id': 'apply_filtre_button_' + uuid,
                'text': 'Appliquer',
                'icon_class': '',
                'tooltip': 'Appliquer le filtre',
                'events': [
                    {
                        'click': function () {
                            main_table.q = document.getElementById('filter_q_' + uuid).value;
                            main_table.field = document.getElementById('filter_field_' + uuid).value;
                            main_table.from_date = document.getElementById('filter_from_date_' + uuid).value;
                            main_table.to_date = document.getElementById('filter_to_date_' + uuid).value;
                            main_table.refresh();
                            filter_area.getElementsByClassName('alert')[0].style.visibility = 'hidden';
                        }
                    }]

            },


        ]
    };
    filter_area.uuid = uuid
    BuildFilterTable(filter_area);

</script>