<h1>
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Consommation des bons de carburant</h1>
<div class="easyui-layout panel-content" style="height:90%">
    <div data-options="region:'east',split:true, collapsible:false" title="Informations" style="width:50%">
        <p id="driver_affectation_{{ uuid }}" class="extra-info"></p>
    </div>
    <div data-options="region:'center',split:true" title="Ajouter une consommation">

        <div style="margin: 10px">
            <input id="date_consommation_{{ uuid }}" style="width:300px">
            <input id="vehicule_{{ uuid }}" style="width: 300px">
            <input id="kilometrage_{{ uuid }}" style="width:300px">
        </div>
        <div class="main_buttons_area">
            <a href="javascript:void(0)" id="create_header_button_{{ uuid }}" class="new_header_tooltip"></a>
            <a id="save_button_{{ uuid }}"></a>
            <a id="cancel_button_{{ uuid }}"></a>
        </div>
    </div>
    <div data-options="region:'south',split:true, border:false" style="height:66%">
        <table id="vouchers_table_{{ uuid }}" style="width:100%;height:auto;padding:10px">
        </table>
        <div id="dialog_add_line_{{ uuid }}" style="">
            <div style="margin: 3%">
                <input type="text" id="dialog_input_voucher_num_{{ uuid }}" style="width: 100%">
                <div style="margin-top: 10px"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    {#   page and widget initialisation and taping ergonomy #}

    function initialisation(uuid) {
        var save_button = $('#save_button_' + uuid).linkbutton({
            text: '<span class="save_consumed_vouchers_tooltip"><i class="fa fa-save commit"></i> Enregistrer</span>',
            onClick: function () {
                commit(uuid, '/parc_roulant/consommation_bons_carburant_transactions/',
                    main_table, '{{ csrf_token }}', set_new_page);
            }
        });
        var cancel_button = $('#cancel_button_' + uuid).linkbutton({
            text: '<span class="cancel_consumed_vouchers_tooltip"><i class="fa fa-trash-o danger"></i> Annuler</span>',
            onClick: function () {
                cancel(uuid, '/parc_roulant/consommation_bons_carburant_transactions/',
                    main_table, '{{ csrf_token }}', set_new_page)
            }
        });
        var vehicule = $('#vehicule_' + uuid).combogrid({
            idField: 'id',
            textField: 'designation',
            method: 'get',
            panelWidth: 450,
            selectOnNavigation: false,
            url: '/parc_roulant/list_of_vehicules/',
            label: 'Véhicule <div class="fa fa-info-circle vehicle_tooltip tooltip-icon"></div>',
            labelPosition: 'top',
            fitColumns: true,
            columns: [[
                {field: 'id', title: 'ID', width: 50},
                {field: 'marque', title: 'Marque', width: 100},
                {field: 'model', title: 'Model', width: 100},
                {field: 'immatriculation', title: 'Immatriculation', width: 100}
            ]],
            onSelect: function (index, row) {
                get_last_vehicule_affectation(row.id);
                kilometrage.textbox('textbox').focus();
            }
        });
        var date_consommation = $('#date_consommation_' + uuid).datebox({
            label: 'Date de consommation <div class="fa fa-info-circle date_consommation_tooltip tooltip-icon">' +
            '</div>',
            labelPosition: 'top',
            parser: date_parser,
            formatter: date_formatter,
            onSelect: function () {
                vehicule.combogrid('textbox').focus();
            },
            onHidePanel: function () {
                vehicule.combogrid('textbox').focus();
            }
        });
        var kilometrage = $('#kilometrage_' + uuid).numberbox({
            min: 0,
            precision: 0,
            suffix: ' Km',
            groupSeparator: ' ',
            label: 'Kilomètrage <div class="fa fa-info-circle kilometrage_tooltip tooltip-icon"></div>',
            labelPosition: 'top',
            onChange: function () {
                create_header_button.linkbutton().focus();
            }
        });
        var create_header_button = $('#create_header_button_' + uuid).linkbutton({
            text: '<span class="new_header_tooltip"><i class="fa fa-check commit" aria-hidden="true"></i> Créer</span>',
            onClick: function () {
                create_new_parent(uuid);
            }
        });
        var dialogue_add_lines = $('#dialog_add_line_' + uuid).dialog({
            title: '<i class="fa fa-plus"></i> Ajouter',
            width: 400,
            closed: true,
            modal: true,
            onOpen: function () {
                dialog_input_voucher_number.textbox('textbox').focus();
            },
            buttons: [
                {
                    id: 'button_post_new_line_' + uuid,
                    text: '<span class="insert_typing_button_tooltip"><i class="fa fa-check commit"></i> Ajouter</span>',
                    handler: function () {
                        post_new_line();
                    }
                },
                {
                    id: 'button_close_add_lines_dialog_' + uuid,
                    text: '<span class="close_dialog_tooltip"><i class="fa fa-times danger"></i> Fermer</span>',
                    handler: function () {
                        dialogue_add_lines.dialog('close');
                    }
                }
            ]
        });
        var dialog_input_voucher_number =
            $('#dialog_input_voucher_num_' + uuid).textbox({
                label: 'N° de Bon <div class="fa fa-info-circle voucher_num_tooltip tooltip-icon"></div>',
                labelPosition: 'top',
                onChange: function () {
                    $('#button_post_new_line_' + uuid).linkbutton().focus()
                }
            });
        var main_table = $('#vouchers_table_' + uuid).datagrid({
            url: '/parc_roulant/details_consommation_bons_carburant_tempo/',
            valueField: 'id',
            rownumbers: true,
            title: 'Bons en cours',
            toolbar: [{
                id: 'button_add_new_line_' + uuid,
                text: '<i class="fa fa-plus plus_tooltip"></i>',
                handler: function () {
                    dialogue_add_lines.dialog('open')
                }
            },
                {
                    id: 'button_remove_line_' + uuid,
                    text: '<i class="fa fa-minus minus_tooltip"></i>',
                    handler: function () {
                        delete_selected_line();
                    }
                }],
            columns: [[
                {field: 'bon__n_bon', title: 'N° du Bon'},
                {field: 'bon__valeur_bon', title: 'Valeur du Bon'}
            ]],
            method: 'get',
            queryParams: {'parent_id': uuid}
        });
        {#   functions for input data validation #}

        function validate_parent_inputs() {
            if (!date_consommation.datebox('getValue')) {
                set_warning_tooltip(date_consommation.datebox('textbox'), "right", "Ce champs est obligatoire!")
            }
            else if (!vehicule.combogrid('getValue')) {
                set_warning_tooltip(vehicule.combogrid('textbox'), "right", "Ce champs est obligatoire!")
            }
            else if (!kilometrage.numberbox('getValue')) {
                set_warning_tooltip(kilometrage.datebox('textbox'), "right", "Ce champs est obligatoire!")
            }
            else {
                return true
            }
        }

        function validate_details_input() {
            if (!dialog_input_voucher_number.textbox('getValue')) {
                set_warning_tooltip(dialog_input_voucher_number.textbox('textbox'), "right", "Ce champs est obligatoire!")
            }
            else if (isNaN(dialog_input_voucher_number.textbox('getValue'))) {
                set_warning_tooltip(dialog_input_voucher_number.textbox('textbox'), "right",
                    "Vous devez inserer un numéro dans ce champ!")
            }
            else {
                return true
            }
        }

        function get_last_vehicule_affectation(vehicule_id) {
            $.get('/parc_roulant/get_last_vehicule_affectation/', {vehicule_id: vehicule_id}).done(
                function (response) {
                    if (response.error) {
                        $('#driver_affectation_' + uuid).html(response.error_msg)
                    }
                    else {
                        $('#driver_affectation_' + uuid).html(
                            '<ul><li>Ce véhicule est affecté à <strong>' + response.driver + '</strong>'
                            + ' depuis le <strong>' + response.last_affectation_date + '</strong>'
                            + '</li>'
                            + ' <li>Dernière consommation le : <strong>' + response.last_consommation_date + '</strong>'
                            + ' Au Kilomètrage :  <strong>' + response.last_consommation_kilometrage + '</strong></li></ul>'
                        )
                    }
                }
            )
        }

        function vehicule_crrectly_affected() {
            var affected = null;
            var vehicule_id = vehicule.combogrid('getValue');
            jQuery.ajaxSetup({async: false});
            $.get('/parc_roulant/vehicle_affectation_status/', {vehicule_id: vehicule_id}).done(
                function (response) {
                    if (!response.affected) {
                        error_message(response.status_msg, vehicule.combogrid('textbox'));
                        affected = false
                    }
                    else {
                        affected = true
                    }
                });
            jQuery.ajaxSetup({async: true});
            return affected
        }

        {#   crud functions #}

        function delete_selected_line() {
            var selected_line = main_table.datagrid('getSelected');
            var rowIndex = main_table.datagrid("getRowIndex", selected_line);
            var vouher_num = selected_line.bon__n_bon;
            var action = 'delete_line';
            $.post('/parc_roulant/consommation_bons_carburant_transactions/', {
                action: action,
                voucher_id: vouher_num,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function (response) {
                success_message(response.status_message);
                main_table.datagrid('deleteRow', rowIndex);
            }).fail(function (xhr, status, error) {
                $.messager.progress('close');
                error_message(error)
            })
        }

        function post_new_line() {
            if (validate_details_input()) {
                var parent_id = uuid;
                var action = 'add_voucher';
                var voucher_num = dialog_input_voucher_number.textbox('getValue');
                $.post('/parc_roulant/consommation_bons_carburant_transactions/', {
                    action: action,
                    parent_id: parent_id,
                    voucher_id: voucher_num,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }).done(function (response) {
                    if (response.status === 'Error') {
                        $.messager.progress('close');
                        var obj = dialog_input_voucher_number.textbox('textbox');
                        error_message(response.status_message, obj)
                    }
                    else {
                        success_message(response.status_message);
                        main_table.datagrid('reload');
                        refresh_add_vouchers_dialog();
                    }
                }).fail(function (xhr, status, error) {
                    $.messager.progress('close');
                    var obj = dialog_input_voucher_number.textbox('textbox');
                    error_message(error, obj)
                })
            }
        }

        function create_new_parent() {
            if (validate_parent_inputs() && vehicule_crrectly_affected()) {
                $.post('/parc_roulant/consommation_bons_carburant_transactions/', {
                    action: 'create_parent',
                    parent_id: uuid,
                    date_consommation: date_consommation.datebox('getValue'),
                    vehicule_id: vehicule.combogrid('getValue'),
                    kilometrage: kilometrage.numberbox('getValue'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }).done(function (response) {
                        if (response.status === 'Error') {
                            error_message(response.status_message, vehicule.combogrid('textbox'))
                        }
                        else {
                            enable_details_typing();
                            dialogue_add_lines.dialog('open');
                            success_message(response.status_message)
                        }
                    }
                ).fail(function (xhr, status, error) {
                    error_message(xhr, vehicule.combogrid('textbox'))
                })
            }
        }

        {#   functions enabling / disabling widgets   #}

        function refresh_add_vouchers_dialog() {
            dialog_input_voucher_number.textbox('clear').textbox('textbox').focus();
        }

        function set_new_page() {
            save_button.linkbutton('disable');
            cancel_button.linkbutton('disable');
            $('#button_add_new_line_' + uuid).linkbutton('disable');
            $('#button_remove_line_' + uuid).linkbutton('disable');
            $('#driver_affectation_' + uuid).html("");
            main_table.datagrid('loadData', {"total": 0, "rows": []});
            refresh_add_vouchers_dialog();
            kilometrage.textbox('clear').textbox('enable');
            vehicule.combogrid('clear').combogrid('enable');
            date_consommation.textbox('clear').textbox('enable').textbox('textbox').focus();
        }

        function enable_details_typing() {
            save_button.linkbutton('enable');
            cancel_button.linkbutton('enable');
            $('#button_add_new_line_' + uuid).linkbutton('enable');
            $('#button_remove_line_' + uuid).linkbutton('enable');
            vehicule.combogrid('disable');
            date_consommation.textbox('disable');
            kilometrage.textbox('disable');
        }

        {# freez details input until document's head is created #}
        set_new_page();
        {# Call the function to build tooltips content  #}
        build_fleet_toolips();
    }

    initialisation('{{ uuid }}');
</script>



