<h1><i class="fa fa-history" aria-hidden="true"></i>{{ h1 }}</h1>

<div class="easyui-layout panel-content" data-options="fit:true">
    <div data-options="region:'center',split:true, border:false" style="height: 60%">

        <div id="toolbar_{{ uuid }}" class="toolbar-padding">
            <input id="searchbox_1_{{ uuid }}" style="width: 300px">
            <a id="button_print_{{ uuid }}" href="#" class="easyui-linkbutton">
            </a>
        </div>
        <table id="parent_table_{{ uuid }}" style="width: 100%"></table>
    </div>
</div>
<script type="text/javascript">
    function initialisation(uuid) {
        var searchbox;
        searchbox = $('#searchbox_1_' + uuid).searchbox({
            searcher: function (value) {
                parent_table.datagrid('reload', {q: value, history: '{{history}}'})
            },
            prompt: 'Recherche'
        });

        function print_selected() {
            var selected_line = parent_table.datagrid('getSelected');
            $.get('/parc_roulant/print_vehicle_affectation/',
                {parent_id: selected_line.id, history:'{{ history }}'}).done(function (page) {
                var win = window.open();
                win.document.write(page);
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }
            });
        }

        function update_table_columns() {

            if ('{{ history }}' === 'vehicle_to_driver') {
                return [[
                    {
                        field: 'id',
                        title: 'ID',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__marque',
                        title: 'Marque',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__model',
                        title: 'Model',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__immatriculation',
                        title: 'Immatriculation',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'date_effet',
                        title: 'Date d\'effet',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_format(value))
                        }
                    },
                    {
                        field: 'livreur__nom',
                        title: 'Livreur',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'kilometrage',
                        title: 'Kilometrage',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(kilometres_format(value))
                        }
                    },
                    {
                        field: 'niveau_carburant',
                        title: 'Niveau de carburant',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'observation',
                        title: 'Observations',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'created_date',
                        title: 'Date et heure de saisie ',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_time_format(value))
                        }
                    },
                    {
                        field: 'created_by__username', title: 'Saisi par', sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value);
                        }
                    }]]
            }
            else if ('{{ history }}' === 'vehicle_to_axe') {
                return [[
                    {
                        field: 'id',
                        title: 'ID',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__marque',
                        title: 'Marque',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__model',
                        title: 'Model',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__immatriculation',
                        title: 'Immatriculation',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'date_effet',
                        title: 'Date d\'effet',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_format(value))
                        }
                    },
                    {
                        field: 'axe__axe',
                        title: 'Axe de livraison',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'kilometrage',
                        title: 'Kilometrage',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(kilometres_format(value))
                        }
                    },
                    {
                        field: 'observation',
                        title: 'Observations',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'created_date',
                        title: 'Date et heure de saisie ',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_time_format(value))
                        }
                    },
                    {
                        field: 'created_by__username', title: 'Saisi par', sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value);
                        }
                    }]]
            }
            else if ('{{ history }}' === 'vehicle_to_vehicle_status') {
                return [[
                    {
                        field: 'id',
                        title: 'ID',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__marque',
                        title: 'Marque',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__model',
                        title: 'Model',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__immatriculation',
                        title: 'Immatriculation',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'date_effet',
                        title: 'Date d\'effet',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_format(value))
                        }
                    },
                    {
                        field: 'statut_vehicule__status',
                        title: 'Status du véhicule',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'kilometrage',
                        title: 'Kilometrage',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(kilometres_format(value))
                        }
                    },
                    {
                        field: 'observation',
                        title: 'Observations',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'created_date',
                        title: 'Date et heure de saisie ',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_time_format(value))
                        }
                    },
                    {
                        field: 'created_by__username', title: 'Saisi par', sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value);
                        }
                    }]]
            }

            else if ('{{ history }}' === 'vehicle_to_affiliate') {
                return [[
                    {
                        field: 'id',
                        title: 'ID',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__marque',
                        title: 'Marque',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__model',
                        title: 'Model',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'vehicule__immatriculation',
                        title: 'Immatriculation',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'date_effet',
                        title: 'Date d\'effet',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_format(value))
                        }
                    },
                    {
                        field: 'filiale__filiale',
                        title: 'Filiale',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'kilometrage',
                        title: 'Kilometrage',
                        sortable: "true",
                        align: 'right',
                        formatter: function (value, row, index) {
                            return set_padding(kilometres_format(value))
                        }
                    },
                    {
                        field: 'observation',
                        title: 'Observations',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value)
                        }
                    },
                    {
                        field: 'created_date',
                        title: 'Date et heure de saisie ',
                        sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(date_time_format(value))
                        }
                    },
                    {
                        field: 'created_by__username', title: 'Saisi par', sortable: "true",
                        formatter: function (value, row, index) {
                            return set_padding(value);
                        }
                    }]]
            }
        }

        var parent_table;
        parent_table = $('#parent_table_' + uuid).datagrid({
            url: '/parc_roulant/history_of_vehicles_affectations_data/',
            idField: 'id',
            striped: true,
            singleSelect: true,
            pagination: true,
            pageSize: '20',
            remote: true,
            queryParams: {history: '{{history}}'},
            columns: update_table_columns(),
            method: 'get',
            selectOnNavigation: false,
            onDblClickRow: function () {
                print_selected()
            },

            toolbar: '#toolbar_' + uuid
        });

        var pager = parent_table.datagrid('getPager');
        pager.pagination({displayMsg: "<span style='padding-right:15px'>Nombre total de lignes : {total}  </span>"});

        var print_button = $('#button_print_' + uuid).linkbutton(
            {
                text: '<i class="fa fa-print print_tooltip"></i>',
                plain: true,
                onClick: function () {
                    print_selected();
                }
            }
        );
        build_fleet_toolips()
    }

    initialisation('{{ uuid }}')
</script>

