<h1><i class="fa fa-history" aria-hidden="true"></i>Historique des retours</h1>

<div class="easyui-layout panel-content" data-options="fit:true">
    <div data-options="region:'center',split:true, border:false" style="height: 60%">

        <div id="toolbar_{{ uuid }}" class="toolbar-padding">
            <input id="searchbox_1_{{ uuid }}" style="width: 300px">
            <a id="button_print_{{ uuid }}" href="#" class="easyui-linkbutton">
            </a>
        </div>
        <table id="parent_table_{{ uuid }}" style="width: 100%"></table>
    </div>
    <div data-options="region:'south',split:true, border:false" style="height: 40%">
        <table id="vouchers_table_{{ uuid }}" style="width:100%"></table>
    </div>
</div>
<script type="text/javascript">
    function initialisation(uuid) {
        var searchbox;
        searchbox = $('#searchbox_1_' + uuid).searchbox({
            searcher: function (value) {
                parent_table.datagrid('reload', {q: value})
            },
            prompt: 'Recherche'
        });

        function print_selected() {
            var selected_line = parent_table.datagrid('getSelected');
            $.get('/parc_roulant/print_retour_bon_carburant_bill/',
                {parent_id: selected_line.id}).done(function (page) {
                var win = window.open();
                win.document.write(page);
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }
            });
        }

        var parent_table;
        parent_table = $('#parent_table_' + uuid).datagrid({
            url: '/parc_roulant/list_of_voochers_return_bills/',
            idField: 'id',
            striped: true,
            singleSelect: true,
            pagination: true,
            pageSize: '10',
            columns: [[
                {
                    field: 'id',
                    title: 'ID',
                    sortable: "true",
                    formatter: function (value, row, index) {
                        return set_padding(value)
                    }
                },
                {
                    field: 'date_retour',
                    title: 'Date du retour',
                    sortable: "true",
                    formatter: function (value, row, index) {
                        return set_padding(date_format(value))
                    }
                },
                {
                    field: 'created_date',
                    title: 'Date et heure de saisie ',
                    sortable: "true",
                    formatter: function (value, row, index) {
                        return set_padding(date_time_format(value))
                    }
                },
                {
                    field: 'created_by__username', title: 'Saisi par', sortable: "true",
                    formatter: function (value, row, index) {
                        return set_padding(value)
                    }
                }

            ]],
            method: 'get',
            selectOnNavigation: false,
            onSelect: function () {
                voucher_table.datagrid('reload', {parent_id: parent_table.datagrid('getSelected').id})
            },
            onDblClickRow: function () {
                print_selected()
            },

            toolbar: '#toolbar_' + uuid
        });
        var pager = parent_table.datagrid('getPager');
        pager.pagination({displayMsg: "Nombre total de lignes : {total}"});

        var voucher_table;
        voucher_table = $('#vouchers_table_' + uuid).datagrid({
            title: 'Détails du retour',
            url: '/parc_roulant/list_of_voochers_return_details/',
            valueField: 'first',
            striped: true,
            rownumbers: true,
            method: 'get',
            columns: [[
                {
                    field: 'bon__n_bon', width: 200, title: 'N° du Bon', formatter: function (value, row, index) {
                        return set_padding(value);
                    }
                },
                {
                    field: 'bon__valeur_bon', title: 'Valeur du Bon', align: 'right', halign: 'left',
                    formatter: function (value, row, index) {
                        return set_padding(money_format(value));
                    }
                }
            ]]

        });
        var print_button = $('#button_print_' + uuid).linkbutton(
            {
                text: '<i class="fa fa-print print_tooltip" aria-hidden="true"></i>',
                plain: true,
                onClick: function () {
                    print_selected();
                }
            }
        );
        build_fleet_toolips()
    }

    initialisation('{{ uuid }}')
</script>

