<h1>
    <i class="fa fa-undo" aria-hidden="true"></i>Retour des bons de carburant</h1>

<div class="easyui-layout panel-content" style="height:90%">
    <div data-options="region:'center',split:true" title="Ajouter un retour de bons">
        <div class="panel-content">
            <input id="date_retour_{{ uuid }}" style="width:250px">
        </div>
        <div class="main_buttons_area">
            <a href="javascript:void(0)" id="create_header_button_{{ uuid }}" class="new_header_tooltip"></a>
            <a id="save_button_{{ uuid }}"></a>
            <a id="cancel_button_{{ uuid }}"></a>
        </div>
    </div>
    <div data-options="region:'south',split:true, border:false" style="height:78%">

        <table id="vouchers_table_{{ uuid }}" style="width:100%" class="panel-content">
        </table>
        <div id="dialog_add_line_{{ uuid }}" style="">
            <div class="panel-content">
                <input type="text" id="dialog_input_voucher_num_{{ uuid }}" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    {#   page and widget initialisation and taping ergonomy #}

    function initialisation(uuid) {

        var save_button = $('#save_button_' + uuid).linkbutton({
            text: '<span class="save_returned_vouchers_tooltip"><i class="fa fa-save commit"></i> Enregistrer</span>',
            onClick: function () {
                commit(uuid, '/parc_roulant/retour_bons_carburant_transactions/',
                    main_table, '{{ csrf_token }}', set_new_page)
            }
        });
        var cancel_button = $('#cancel_button_' + uuid).linkbutton({
            text: '<span class="cancel_returned_vouchers_tooltip"><i class="fa fa-trash-o danger"></i> Annuler</span>',
            onClick: function () {
                cancel(uuid, '/parc_roulant/retour_bons_carburant_transactions/',
                    main_table, '{{ csrf_token }}', set_new_page)
            }
        });
        var date_retour = $('#date_retour_' + uuid).datebox({
            label: 'Date de retour du bon <div class="fa fa-info-circle tooltip-icon date_retour_tooltip"></div>',
            labelPosition: 'top',
            parser: date_parser,
            formatter: date_formatter,
            onSelect: function () {
                create_header_button.linkbutton().focus();
            },
            onHidePanel: function () {
                create_header_button.linkbutton().focus();
            }
        });
        var create_header_button = $('#create_header_button_' + uuid).linkbutton({
            text: '<span class="new_header_tooltip"><i class="fa fa-check commit" aria-hidden="true"></i> Créer</span>',
            onClick: function () {
                create_new_parent(uuid);
            }
        });
        var dialogue_add_lines = $('#dialog_add_line_' + uuid).dialog({
            title: '<i class="fa fa-plus"></i> Ajouter',
            width: 400,
            height: 150,
            closed: true,
            modal: true,
            onOpen: function () {
                dialog_input_voucher_number.textbox('textbox').focus();
            },
            buttons: [
                {
                    id: 'button_post_new_line_' + uuid,
                    text: '<span class="insert_typing_button_tooltip"><i class="fa fa-check commit"></i> Ajouter</span>',
                    handler: function () {
                        post_new_line(uuid);
                    }
                },
                {
                    id: 'button_close_add_lines_dialog_' + uuid,
                    text: '<span class="close_dialog_tooltip"><i class="fa fa-times danger"></i> Fermer</span>',
                    handler: function () {
                        dialogue_add_lines.dialog('close');
                    }
                }
            ]
        });
        var dialog_input_voucher_number =
            $('#dialog_input_voucher_num_' + uuid).textbox({
                label: 'N° de Bon <div class="fa fa-info-circle voucher_num_tooltip tooltip-icon"></div>',
                labelPosition: 'top',
                onChange: function () {
                    $('#button_post_new_line_' + uuid).linkbutton().focus()
                }
            });
        var main_table = $('#vouchers_table_' + uuid).datagrid({
            url: '/parc_roulant/list_of_voochers_returning_details_tempo/',
            valueField: 'id',
            striped: true,
            rownumbers: true,
            title: 'Bons en cours',
            toolbar: [{
                id: 'button_add_new_line_' + uuid,
                text: '<i class="fa fa-plus plus_tooltip"></i>',
                handler: function () {
                    dialogue_add_lines.dialog('open')
                }
            },
                {
                    id: 'button_remove_line_' + uuid,
                    text: '<i class="fa fa-minus minus_tooltip"></i>',
                    handler: function () {
                        delete_selected_line();
                    }
                }],
            columns: [[
                {field: 'bon__n_bon', title: 'N° du Bon'},
                {field: 'bon__valeur_bon', title: 'Valeur du Bon'},
            ]],
            method: 'get',
            singleSelect: true,
            queryParams: {'parent_id': uuid},

        });


        {#   functions for input data validation #}

        function validate_parent_inputs() {
            if (!date_retour.datebox('getValue')) {
                set_warning_tooltip(date_retour.datebox('textbox'), "right", "Ce champs est obligatoire")
            }
            else {
                return true
            }
        }

        function validate_details_input() {

            if (!dialog_input_voucher_number.textbox('getValue')) {
                set_warning_tooltip(dialog_input_voucher_number.textbox('textbox'), "right", "Ce champs est obligatoire")
            }
            else if (isNaN(dialog_input_voucher_number.textbox('getValue'))) {
                set_warning_tooltip(dialog_input_voucher_number.textbox('textbox'), "right",
                    "Vous devez inserer un numéro dans ce champ!")
            }
            else {
                return true
            }
        }

        {#   crud functions #}


        function delete_selected_line() {
            var selected_line = main_table.datagrid('getSelected');
            var rowIndex = main_table.datagrid("getRowIndex", selected_line);
            var vouher_num = selected_line.bon__n_bon;
            var action = 'delete_line';
            $.post('/parc_roulant/retour_bons_carburant_transactions/', {
                action: action,
                voucher_id: vouher_num,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function (response) {
                success_message(response.status_message);
                main_table.datagrid('deleteRow', rowIndex);
            }).fail(function (xhr, status, error) {
                $.messager.progress('close');
                error_message(error)
            })

        }

        function post_new_line() {
            if (validate_details_input()) {
                var parent_id = uuid;
                var action = 'add_voucher';
                var voucher_num = dialog_input_voucher_number.textbox('getValue');
                $.post('/parc_roulant/retour_bons_carburant_transactions/', {
                    action: action,
                    parent_id: parent_id,
                    voucher_id: voucher_num,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }).done(function (response) {
                    if (response.status === 'Error') {
                        $.messager.progress('close');
                        var obj = dialog_input_voucher_number.textbox('textbox');
                        error_message(response.status_message, obj)
                    }
                    else {
                        success_message(response.status_message);
                        main_table.datagrid('reload');
                        refresh_add_vouchers_dialog();
                    }
                }).fail(function (xhr, status, error) {
                    $.messager.progress('close');
                    var obj = dialog_input_voucher_number.textbox('textbox');
                    error_message(error, obj)
                })
            }
        }

        function create_new_parent() {
            if (validate_parent_inputs()) {
                $.post('/parc_roulant/retour_bons_carburant_transactions/', {
                    action: 'create_parent',
                    parent_id: uuid,
                    date_retour: date_retour.datebox('getValue'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }).done(function (response) {
                        if (response.status === 'Error') {
                            error_message(response.status_message, vehicule.textbox('textbox'))
                        }
                        else {
                            enable_details_typing();
                            dialogue_add_lines.dialog('open');
                            success_message(response.status_message)
                        }
                    }
                ).fail(function (xhr, status, error) {
                    error_message(xhr, vehicule.textbox('textbox'))
                })
            }
        }

        {#   functions enabling / disabling widgets   #}



        {#   functions for refreshing #}

        function refresh_add_vouchers_dialog() {
            dialog_input_voucher_number.textbox('clear').textbox('textbox').focus();
        }

        function set_new_page() {
            save_button.linkbutton('disable');
            cancel_button.linkbutton('disable');
            $('#button_add_new_line_' + uuid).linkbutton('disable');
            $('#button_remove_line_' + uuid).linkbutton('disable');
            main_table.datagrid('loadData', {"total": 0, "rows": []});
            refresh_add_vouchers_dialog();
            date_retour.textbox('clear').textbox('enable').textbox('textbox').focus();
        }

        function enable_details_typing() {
            save_button.linkbutton('enable');
            cancel_button.linkbutton('enable');
            $('#button_add_new_line_' + uuid).linkbutton('enable');
            $('#button_remove_line_' + uuid).linkbutton('enable');
            date_retour.textbox('disable');
        }

        {# freez details input until document's head is created #}

        set_new_page();

        {# Call the function to build tooltips content  #}

        build_fleet_toolips();
    }

    initialisation('{{ uuid }}');
</script>


