<h1>
    <i class="fa fa-exchange" aria-hidden="true"></i>Gestion des affectations et des statuts</h1>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',split:true, border:false">
        <div id="toolbar_{{ uuid }}" class="toolbar-padding">
            <select id="menu_combo_{{ uuid }}" size="40" style="width: 300px">
                <optgroup label='<i class="fa fa-male awsome" aria-hidden="true"></i> Livreurs'>
                    <option value="add_driver_affectation">1. Affecter à un livreur</option>
                    <option value="terminate_driver_affectation">2. Terminer l'affectation au livreur</option>
                </optgroup>
                <optgroup label='<i class="fa fa-map-marker awsome" aria-hidden="true"></i> Axe de livraison'>
                    <option value="add_axe_affectation">3. Affecter à un axe de livraison</option>
                    <option value="terminate_axe_affectation">4. Terminer l'affectation à l'axe</option>
                </optgroup>
                <optgroup label='<i class="fa fa-exclamation-triangle awsome" aria-hidden="true"></i> Statut véhicule'>
                    <option value="add_vehicle_status_affectation">5. Nouveau statut du véhicule</option>
                </optgroup>
                <optgroup label='<i class="fa fa-building awsome" aria-hidden="true"></i> Filiale'>
                    <option value="add_affiliate_affectation">6. Affecter à une filiale</option>
                    <option value="terminate_affiliate_affectation">7. Terminer l'affectation à la filiale</option>
                </optgroup>
            </select>
            <a id="action_button_{{ uuid }}" href="#">
                <i class="fa fa-pencil action_tooltip" aria-hidden="true"></i>
            </a>
            <a id="refresh_button_{{ uuid }}" href="#">
                <i class="fa fa-refresh refresh_tooltip"></i>
            </a><span style="color: #d4d4d4; padding-left: 15px; padding-right: 15px">|</span>
            <a id="operating_date_{{ uuid }}" href="#"></a>
        </div>

        <div id="add_driver_affectation_dialog_{{ uuid }}">
            <div style="margin: 3%">
                <div id="dialog_input_1_{{ uuid }}">
                    <input type="text" id="effectif_date_{{ uuid }}" style="width: 100%">
                </div>
                <div id="dialog_input_2_{{ uuid }}">
                    <input type="text" id="vehicle_id_{{ uuid }}" style="width: 100%"></div>
                <div id="dialog_input_3_{{ uuid }}">
                    <input type="text" id="affectation_subject_id_{{ uuid }}" style="width: 100%"></div>
                <div id="dialog_input_4_{{ uuid }}">
                    <input type="text" id="kilometrage_{{ uuid }}" style="width: 100%">
                </div>
                <div id="dialog_input_5_{{ uuid }}">
                    <input type="text" id="fuel_level_{{ uuid }}" style="width: 100%"></div>
                <div id="dialog_input_6_{{ uuid }}">
                    <input type="text" id="vehicle_to_driver_observation_{{ uuid }}" style="width: 100%"></div>
            </div>
        </div>
        <div class="panel-content">
            <table id="parent_table_{{ uuid }}" style="height:auto;width: 100%"></table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function initialisation(uuid) {
        var add_affectation_dialog = $('#add_driver_affectation_dialog_' + uuid).dialog({
            title: 'Affectation véhicule --> livreur',
            closed: true,
            modal: true,
            width: 380,
            buttons: [
                {
                    id: 'vehicule_to_driver_add_button_' + uuid,
                    text: '<span class="validate_button_tooltip"><i class="fa fa-check commit"></i> Valider</span>',
                    class: 'validate_button_tooltip',
                    handler: function () {
                        if (dialog_data_validation()) {
                            post_action()
                        }
                    }
                },
                {
                    id: 'vehicule_to_driver_close_button_' + uuid,
                    text: '<span class="close_dialog_tooltip"><i class="fa fa-times danger"></i> Fermer</span>',
                    handler: function () {
                        add_affectation_dialog.dialog('close');
                    }
                }
            ]
        });
        var effectif_date = $('#effectif_date_' + uuid).datebox({
            label: 'Date d\'effet <i class="fa fa-info-circle tooltip-icon effectif_date_tooltip"</i>',
            labelPosition: 'top',
            parser: date_parser,
            formatter: date_formatter
        });
        var vehicle_id = $('#vehicle_id_' + uuid).combogrid({
            idField: 'id',
            textField: 'designation',
            method: 'get',
            panelWidth: 450,
            selectOnNavigation: false,
            url: '/parc_roulant/list_of_vehicules/',
            label: 'Véhicule <div class="fa fa-info-circle vehicle_tooltip tooltip-icon"></div>',
            labelPosition: 'top',
            fitColumns: true,
            columns: [[
                {field: 'id', title: 'ID', width: 50},
                {field: 'marque', title: 'Marque', width: 100},
                {field: 'model', title: 'Model', width: 100},
                {field: 'immatriculation', title: 'Immatriculation', width: 100}
            ]]
        });
        var affectation_subject_id = $('#affectation_subject_id_' + uuid).combobox();
        var kilometrage = $('#kilometrage_' + uuid).numberbox(
            {
                label: 'Kilomètrage <i class="fa fa-info-circle tooltip-icon kilometrage_tooltip"</i>',
                labelPosition: 'top',
            }
        );
        var fuel_level_data = [{
            "id": 1,
            "text": "Vide"
        }, {
            "id": 2,
            "text": "1/4"
        }, {
            "id": 3,
            "text": "Demi-Plein",
        }, {
            "id": 4,
            "text": "3/4"
        }, {
            "id": 5,
            "text": "Plein"
        }];
        var fuel_level = $('#fuel_level_' + uuid).combobox({
                label: 'Niveau de carburant <i class="fa fa-info-circle tooltip-icon fuel_level_tooltip"</i>',
                labelPosition: 'top',
                valueField: 'id',
                textField: 'fuel_level',
                url: '/parc_roulant/list_of_fuel_levels/',
                limitToList: true,
                method: 'get'
            }
        );
        var observation = $('#vehicle_to_driver_observation_' + uuid).textbox(
            {
                height: 100,
                label: 'Observations <i class="fa fa-info-circle tooltip-icon observation_tooltip"</i>',
                labelPosition: 'top',
                multiline: true
            }
        );
        var main_table = $('#parent_table_' + uuid).datagrid({
            url: '/parc_roulant/vehicles_affectations_report/',
            idField: 'id',
            striped: true,
            fitColumns: false,
            singleSelect: true,
            toolbar: '#toolbar_' + uuid,
            remoteSort: false,
            columns: [[
                {
                    field: 'id',
                    title: 'ID',
                    sortable: "true",
                    width: 50,
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    }
                },
                {
                    field: 'marque',
                    title: 'Marque',
                    sortable: "true",
                    width: 150,
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    }

                },
                {
                    field: 'model',
                    title: 'Modèle',
                    sortable: "true",
                    width: 150,
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    }

                },
                {
                    field: 'immatriculation',
                    title: 'Immatriculation',
                    sortable: "true",
                    width: 140,
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    }

                },
                {
                    field: 'livreur',
                    title: 'Livreur',
                    sortable: "true",
                    width: 200,
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    },
                    styler: function (value, row, index) {
                        if (!value) {
                            return 'background-color:#FaFFbd;color:red';
                            // the function can return predefined css class and inline style
                            // return {class:'c1',style:'color:red'}
                        }
                    }

                },
                {
                    field: 'axe',
                    width: 200,
                    title: "Axe",
                    sortable: "true",
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    },
                    styler: function (value, row, index) {
                        if (!value) {
                            return 'background-color:#FaFFbd;color:red';
                            // the function can return predefined css class and inline style
                            // return {class:'c1',style:'color:red'}
                        }
                    }

                },
                {
                    field: 'current_status',
                    title: "Statut du véhicule",
                    sortable: "true",
                    width: 140,
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    },
                    styler: function (value, row, index) {
                        if (!value) {
                            return 'background-color:#FaFFbd;color:red';
                            // the function can return predefined css class and inline style
                            // return {class:'c1',style:'color:red'}
                        }
                    }

                },
                {
                    field: 'affiliate',
                    title: "Filiale",
                    sortable: "true",
                    width: 140,
                    formatter: function (value, row, index) {
                        return set_padding(value);
                    },
                    styler: function (value, row, index) {
                        if (!value) {
                            return 'background-color:#FaFFbd;color:red';
                            // the function can return predefined css class and inline style
                            // return {class:'c1',style:'color:red'}
                        }
                    }

                }
            ]],
            method: 'get',
            selectOnNavigation: false,
            onSelect: function () {
                // get more infomations about selected vehicle
            },
        });
        main_table.datagrid('enableFilter', [{}]);
        var menu_combo = $('#menu_combo_' + uuid).combobox({
            width: 300,
            selectOnNavigation: false,
            limitToList: true,
            prompt: 'Choisissez une action...',
            onSelect: function () {
                action_button.linkbutton().focus()
            },
            formatter: function (row) {
                var opts = $(this).combobox('options');
                return '<span style="padding-left:15px">' + row[opts.textField] + '</span>';
            }
        });
        var action_button = $('#action_button_' + uuid).linkbutton({
            plain: true,
            onClick: function () {
                if (validate_header_data()) {
                    update_dialog_inputs();
                    var selected_vehicle_id = main_table.datagrid('getSelected');
                    effectif_date.datebox('setValue', operating_date.datebox('getValue')).datebox('disable');
                    vehicle_id.combogrid('setValue', selected_vehicle_id).combogrid('disable');
                    add_affectation_dialog.dialog('open');
                    build_fleet_toolips();

                }
            }
        });
        var refresh_button = $('#refresh_button_' + uuid).linkbutton({
            plain: true,
            onClick: function () {
                reload_main_table()
            }
        });
        var operating_date = $('#operating_date_' + uuid).datebox({
            width: 250,
            labelWidth: 125,
            label: 'Date de travail <i class="fa fa-info-circle tooltip-icon working_date_tooltip"</i>',
            parser: date_parser,
            formatter: date_formatter,
            onChange: function () {
                reload_main_table()
            }
        });
        operating_date.datebox('setValue', '{{ today }}');

        /* ***************** Functions ********************/

        function reload_main_table() {
            var current_date = operating_date.datebox('getValue');
            main_table.datagrid('reload', {to_date: current_date});
        }

        function dialog_data_validation() {
            if ($('#dialog_input_1_' + uuid).is(':visible') && !effectif_date.datebox('getValue')) {
                set_warning_tooltip(effectif_date.combobox('textbox'), 'right', 'Ce champs est obligatoir !')
            }
            else if ($('#dialog_input_2_' + uuid).is(':visible') && !vehicle_id.combobox('getValue')) {
                set_warning_tooltip(vehicle_id.combobox('textbox'), 'right', 'Ce champs est obligatoir !')
            }
            else if ($('#dialog_input_3_' + uuid).is(':visible') && !affectation_subject_id.combobox('getValue')) {
                set_warning_tooltip(affectation_subject_id.combobox('textbox'), 'right', 'Ce champs est obligatoir !')
            }
            else if ($('#dialog_input_4_' + uuid).is(':visible') && !kilometrage.numberbox('getValue')) {
                set_warning_tooltip(kilometrage.combobox('textbox'), 'right', 'Ce champs est obligatoir !')
            }
            else if ($('#dialog_input_5_' + uuid).is(':visible') && $('#fuel_level_' + uuid).length && !fuel_level.combobox('getValue')) {
                set_warning_tooltip(fuel_level.combobox('textbox'), 'right', 'Ce champs est obligatoir !')
            }
            else if ($('#dialog_input_6_' + uuid).is(':visible') && !observation.textbox('getText')) {
                set_warning_tooltip(observation.combobox('textbox'), 'right', 'Ce champs est obligatoir !')
            }

            else {
                return true
            }
        }

        function update_dialog_inputs() {
            var action = menu_combo.combobox('getValue');
            if (action === 'add_driver_affectation') {
                $('#dialog_input_1_' + uuid).show();
                $('#dialog_input_2_' + uuid).show();
                $('#dialog_input_3_' + uuid).show();
                $('#dialog_input_4_' + uuid).show();
                $('#dialog_input_5_' + uuid).show();
                $('#dialog_input_6_' + uuid).show();
                add_affectation_dialog.dialog({
                    title: 'Nouvelle Affectation (Livreur)'
                });
                affectation_subject_id.combobox({
                    label: 'Livreur <i class="fa fa-info-circle tooltip-icon driver_tooltip"</i>',
                    url: '/parc_roulant/list_of_drivers/',
                    valueField: 'id',
                    textField: 'nom',
                    method: 'get',
                    labelPosition: 'top'
                });

            }
            else if (action === 'add_axe_affectation') {
                $('#dialog_input_1_' + uuid).show();
                $('#dialog_input_2_' + uuid).show();
                $('#dialog_input_3_' + uuid).show();
                $('#dialog_input_4_' + uuid).show();
                $('#dialog_input_5_' + uuid).hide();
                $('#dialog_input_6_' + uuid).show();
                add_affectation_dialog.dialog({
                    title: 'Nouvelle Affectation (Axe de livraison)'
                });
                affectation_subject_id.combobox({
                    label: 'Axe <i class="fa fa-info-circle tooltip-icon axe_tooltip"</i>',
                    url: '/parc_roulant/list_of_axes/',
                    valueField: 'id',
                    textField: 'axe',
                    method: 'get',
                    labelPosition: 'top'
                });

            }
            else if (action === 'add_vehicle_status_affectation') {
                $('#dialog_input_1_' + uuid).show();
                $('#dialog_input_2_' + uuid).show();
                $('#dialog_input_3_' + uuid).show();
                $('#dialog_input_4_' + uuid).show();
                $('#dialog_input_5_' + uuid).hide();
                $('#dialog_input_6_' + uuid).show();
                add_affectation_dialog.dialog({
                    title: 'Nouveau statut du véhicule'
                });
                affectation_subject_id.combobox({
                    label: 'Statut <i class="fa fa-info-circle tooltip-icon vehicle_status_tooltip"</i>',
                    url: '/parc_roulant/list_of_vehicle_status/',
                    valueField: 'id',
                    textField: 'status',
                    method: 'get',
                    labelPosition: 'top'
                });
            }
            else if (action === 'add_affiliate_affectation') {
                $('#dialog_input_1_' + uuid).show();
                $('#dialog_input_2_' + uuid).show();
                $('#dialog_input_3_' + uuid).show();
                $('#dialog_input_4_' + uuid).show();
                $('#dialog_input_5_' + uuid).hide();
                $('#dialog_input_6_' + uuid).show();
                add_affectation_dialog.dialog({
                    title: 'Nouvelle Affectation (Filiale)'
                });
                affectation_subject_id.combobox({
                    label: 'Filiale <i class="fa fa-info-circle tooltip-icon affiliate_tooltip"</i>',
                    url: '/common/list_of_affiliates/',
                    valueField: 'id',
                    textField: 'filiale',
                    method: 'get',
                    labelPosition: 'top'
                });
            }
            else if (action === 'terminate_driver_affectation') {
                $('#dialog_input_1_' + uuid).show();
                $('#dialog_input_2_' + uuid).show();
                $('#dialog_input_3_' + uuid).hide();
                $('#dialog_input_4_' + uuid).hide();
                $('#dialog_input_5_' + uuid).hide();
                $('#dialog_input_6_' + uuid).hide();
                add_affectation_dialog.dialog({
                    title: "Terminer l'affectation (Livreur)"
                });
            }
            else if (action === 'terminate_axe_affectation') {
                $('#dialog_input_1_' + uuid).show();
                $('#dialog_input_2_' + uuid).show();
                $('#dialog_input_3_' + uuid).hide();
                $('#dialog_input_4_' + uuid).hide();
                $('#dialog_input_5_' + uuid).hide();
                $('#dialog_input_6_' + uuid).hide();
                add_affectation_dialog.dialog({
                    title: "Terminer l'affectation (Axe de livraison)"
                });
            }
            else if (action === 'terminate_affiliate_affectation') {
                $('#dialog_input_1_' + uuid).show();
                $('#dialog_input_2_' + uuid).show();
                $('#dialog_input_3_' + uuid).hide();
                $('#dialog_input_4_' + uuid).hide();
                $('#dialog_input_5_' + uuid).hide();
                $('#dialog_input_6_' + uuid).hide();
                add_affectation_dialog.dialog({
                    title: "Terminer l'affectation (Filiale)"
                });
            }
        }

        function validate_header_data() {
            if (!menu_combo.combobox('getValue')) {
                error_message('Vous devez Choisir une action !', menu_combo.combobox('textbox'));
            }
            else if (!main_table.datagrid('getSelected')) {
                error_message('Vous devez Choisir un véhicule !')
            }
            else if (!operating_date.datebox('getValue')) {
                error_message('Vous devez Choisir une date de travail !')
            }
            else {
                return true
            }
        }

        function get_fuel_level_value() {
            if ($('#fuel_level_' + uuid).length) {
                return fuel_level.combobox('getValue')
            }
            else {
                return null
            }
        }

        function refresh_add_affectation_dilag() {
            vehicle_id.textbox('clear');
            affectation_subject_id.combobox('clear');
            kilometrage.numberbox('clear');
            if ($('#fuel_level_' + uuid).length) {
                fuel_level.combobox('clear')
            }
            observation.textbox('clear');
            effectif_date.datetimebox('clear');
            add_affectation_dialog.dialog('close')
        }

        function post_action() {
            var action_value = menu_combo.combobox('getValue');
            var vehicle_id_value = vehicle_id.combogrid('getValue');
            var affectation_subject = affectation_subject_id.combobox('getValue');
            var kilometrage_value = kilometrage.numberbox('getValue');
            var fuel_level_value = get_fuel_level_value();
            var observation_value = observation.textbox('getValue');
            var date_effet_value = effectif_date.datetimebox('getValue');
            $.post('/parc_roulant/vehicles_affectations_manager/', {
                action: action_value,
                vehicle_id: vehicle_id_value,
                affectation_subject_id: affectation_subject,
                kilometrage: kilometrage_value,
                fuel_level: fuel_level_value,
                observation: observation_value,
                date_effet: date_effet_value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function (response) {
                success_message(response.status_message);
                reload_main_table();
                refresh_add_affectation_dilag();
            }).fail(function (xhr, status, error) {
                $.messager.progress('close');
                error_message(error)
            })
        }

        build_fleet_toolips();
    }

    initialisation('{{ uuid }}')
</script>
